

<table width="300" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td width="5" rowspan="2" valign="top">
			<img src="/Content/images/left_border.gif" width="5" height="150">
		</td>
		<td height="50" colspan="2" background="/Content/images/top_border.gif">
			<font size="2" face="Verdana, Arial, Helvetica, sans-serif"><strong>EVENTOS</strong></font>
		</td>
		<td width="5" rowspan="2" valign="top">
			<img src="/Content/images/right_border.gif" width="5" height="150">
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<p align="center">
				<font size="2" face="Verdana, Arial, Helvetica, sans-serif"><strong>ENCONTRO NACIONAL<br>
					NO RIO DE JANEIRO</strong></font></p>
					<br /><br />
		</td>
	</tr>
</table>
