

@section HeadContent {


}


	<div class="panel">
    <h1>Acesso não permitido.</h1>
		<h3>O usuário não tem permissão para acessar esta página ou este item.</h3>
	</div>


@section RightContent {

@Html.Partial("_RightMenu") 

}

