<h1>Comércio e Economia</h1>

<p>
	Nós acreditamos que cada pessoa tem o direito de oferecer bens
	e serviços aos outros no livre mercado. Portanto, nos opomos a todas
	as intervenções do governo na área da economia. O único papel
	dos governos existentes na área econômica é o de proteger os direitos
	de propriedade, resolver disputar judiciais e prover uma estrutura
	legal na qual as trocas voluntárias sejam protegidas.
</p>

<p>
	Esforço no sentido de redistribuir riquezas ou de controlar
	pela força o comércio são intoleráveis. A manipulação governamental
	da economia cria uma classe privilegiada - aqueles que têm acesso ao
	dinheiro dos impostos - e uma classe explorada - aqueles que pagam os impostos.
</p>

<p>
	Nós acreditamos que todos os indivíduos têm o direito de dispor
	dos frutos do próprio trabalho como bem entenderem e que o governo não
	tem direito de tirar-lhes essa riqueza. Nós nos opomos à caridade governamental,
	tais como programas assistenciais e subsídios, mas aplaudimos veementemente os
	indivíduos e organizações de caridade que ajudam os necessitados e contribuem em
	uma grande variedade de causas valorosas através de atividades voluntárias.
</p>

<h2><a name="AEconomia">1. A economia</a></h2>

<p class="top"><a href="#Topo">Ir para o topo</a></p>

<p>
	<strong>A questão:</strong> A intervenção do governo na economia põe em perigo
	tanto a liberdade individual quanto a prosperidade material
	de todos os brasileiros.
</p>

<p>
	<strong>O princípio:</strong> O livre mercado, que respeita os direitos indivíduais nas
	trocas voluntárias com outros indivíduos, deve ser deixado funcionar
	sem impedimentos pelo governo. O único papel do governo na área econômica é o
	de proteger os direitos de propriedade, resolver disputas judiciais e prover
	uma estrutura legal na qual as trocas voluntárias sejam protegidas.
</p>

<p>
	<strong>Soluções:</strong> Para assegurar a liberdade econômica e melhorar o bem estar econômico
	dos brasileiros, implantaríamos as seguintes políticas:
</p>

<p>
	a.) Dramática redução tanto de impostos como de gastos do governo;
</p>

<p>
	b.) Fim dos déficits no orçamento;
</p>

<p>
	c.) Fim de políticas monetárias inflacionárias;
</p>

<p>
	d.) Eliminação de todos os impedimentos governamentais ao livre comércio e;
</p>

<p>
	e.) Eliminação de todos os controles de salários, preços, aluguéis, lucros, produção e juros.
</p>

<p>
	Ações transitórias: Advogamos a eliminação do imposto de renda, entre outros.
</p>

<h2><a name="Taxacao">2. Taxação</a></h2>

<p class="top"><a href="#Topo">Ir para o topo</a></p>

<p>
	<strong>A questão:</strong> A manipulação governamental da economia
	cria uma classe privilegiada - aqueles com acesso ao dinheiro dos impostos -
	e uma classe explorada - aqueles que são pagadores de impostos.
</p>

<p>
	<strong>O princípio:</strong> Todas as pessoas têm direito de manter os
	frutos de seu trabalho. A atividade governamental não deveria incluir a
	coleta forçada de dinheiro ou bens dos indivíduos em violação de seus direitos
	individuais. Concordamos com a taxação apenas para sustentar os serviços necessários
	para a manutenção da propriedade e direitos individuais. Nenhum imposto
	pode jamais ser justo, simples ou neutro ao livre mercado.
</p>

<p>
	<strong>Soluções:</strong> Especificamente: a) apoiamos o direito de qualquer
	indivíduo de contestar o pagamento de impostos com base em fundamentos
	morais, religiosos, legais ou constitucionais; b) nos opomos a
	qualquer taxação da renda de pessoas físicas ou jurídicas, incluindo a
	impostos sobre ganhos de capital; c) nos opomos a qualquer aumento nos
	impostos existentes e à criação de novos impostos; d) apoiamos a abolição
	de todos os impostos; e; e) apoiamos a anistia incondicional de indivíduos
	que tenham sido condenados ou que são acusados de resistência aos impostos.
	Nos opomos, como sendo servidão involuntária, a qualquer requerimento legal
	forçando empregadores ou donos de negócios a servirem como coletores
	de impostos para quaisquer agências federal, estadual ou municipal.
	Nos opomos a qualquer aumento no nível de impostos ou nas categorias de pagadores
	de impostos, incluindo a eliminação de deduções, isenções ou créditos sob o
	espúrio pretexto de "justiça", "simplicidade" ou da dita "neutralidade ao mercado".
</p>

<p>
	<strong>Ações transitórias:</strong> Como medida provisória, todas
	as sanções criminais e civis contra a evasão de impostos devem ser
	abolidas imediatamente. Na presente crise fiscal dos estados e municípios, a moratória é preferível
	ao aumento de impostos ou ao perpétuo refinanciamento da crescente dívida pública.
</p>

<h2><a name="InflacaoEDepressao">3. Inflação e Depressão</a></h2>

<p class="top"><a href="#Topo">Ir para o topo</a></p>

<p>
	<strong>A questão:</strong> O controle governamental sobre o
	dinheiro e o sistema bancário é a causa primária da inflação
	e da depressão econômica.
</p>

<p>
	<strong>O princípio:</strong> Indivíduos envolvidos em trocas voluntárias
	devem ser livres para usar como dinheiro qualquer commodity
	ou item livremente acordado entre as duas partes, tais como moedas de ouro
	denominadas por suas unidades de peso. Nós apoiamos a propriedade privada
	do ouro e o direito de se fazer contratos por ouro.
</p>

<p>
	<strong>Soluções:</strong> Nós apoiamos a abolição de todas as
	leis que regulam o uso da moeda e de todas as unidades de conta
	compulsórias governamentais, assim como a eliminação de toda moeda-fiat
	governamental e de todas as moedas cunhadas pelo governo.
	Todas as restrições à cunhagem privada de moedas devem ser abolidas,
	para que a cunhagem seja aberta à competição no livre mercado. Nós apoiamos
	um sistema bancário livre, com irrestrita competição entre bancos e
	instituições de depósito de todos os tipos. A única restrição necessária
	em relação à inflação monetária é a aplicação consistente da proteção geral
	contra fraudes aos ramos bancário e de cunhagem de moeda.
</p>

<p>
	<strong>Ações transitórias:</strong> Nós favorecemos a abolição do
	Banco Central e de toda e qualquer instituição e/ou intervenção que afete o
	crédito e o sistema bancário, como o Banco do Brasil, a Caixa Econômica Federal
	e os Bancos Estaduais. Nossa oposição abrange todos os controles da taxa de juros.
	Apoiamos a abolição do BNDES e de todas as instituições creditícias federais e
	estaduais. Para completar a separação entre o sistema bancário e o Estado,
	nós somos a favor de um sistema de tesouro indepentedente, no qual todos os
	fundos do governo são guardados pelo próprio governo e não depositados em bancos
	privados. Enquanto não é abolido, o Banco Central, para que a inflação seja contida,
	deve imediatamente parar de expandir a base monetária. Como medidas provisórias,
	nós ainda apoiamos: a) a suspensão de todas as restrições a ramificações bancárias;
	b) a eliminação de todas as leis de usura;
	c) a remoção de todas as restrições aos juros pagos por depósitos;
	d) a eliminação das leis que estabelecem requerimentos marginais para a
	compra e venda de seguros; e) a revogação de todos os outros
	controles do crédito; f) a abolição do controle do Banco Central
	sobre as reservas de bancos não-membros e outras instituições de depósito e; g)
	a suspensão da proibição de depósitos domésticos em moedas estrangeiras.
</p>

<h2><a name="FinancasEInvestimentoDeCapital">4. Finanças e investimentos de capital</a></h2>

<p class="top"><a href="#Topo">Ir para o topo</a></p>

<p>
	<strong>A questão:</strong> A regulação governamental dos mercados de
	capital inibe o investimento e criam vantagens no mercado
	para aqueles com acesso a políticos e burocratas, através de
	isenções de leis contra fraude e quebras de contrato.
</p>

<p>
	<strong>O princípio:</strong> O livre mercado deve operar sem os impedimentos
	da regulação governamental, embora o governo deva punir fraude,
	roubo e quebras de contrato sem exceções.
</p>

<p>
	<strong>Soluções:</strong> Apoiamos a abolição de toda regulação
	dos mercados financeiro e de capitais. O que deve ser punido é o roubo
	de informações ou brechas de contrato que mantenham informações em segredo.
</p>

<p>
	<strong>Ação transitória:</strong> Nós apoiamos a abolição de todas as leis
	que reprimem as pequenas e arriscadas especulações de capital e
	todas regulações federais do mercado de commodities. Nos opomos
	a quaisquer tentativas de banir ou regular o investimento na bolsa
	de mercadorias e futuros ou em quaisquer outros instrumentos financeiros
	que venham a emergir no futuro. Apoiamos a abolição de todas as
	leis baseadas no obscuro conceito do "insider trading".
</p>

<h2><a name="DividaDoGoverno">5. Dívidas do governo</a></h2>

<p class="top"><a href="#Topo">Ir para o topo</a></p>

<p>
	<strong>A questão:</strong> O débito do governo força os
	indivíduos a assumirem dívidas em que não escolheram incorrer;
	distorce os mercados de capital e arruína a economia.
</p>

<p>
	<strong>O princípio:</strong> O governo não deve assumir
	dívidas nem ter posses, pois esses débitos são responsabilidades
	dos indivíduos e as propriedades foram tiradas deles.
</p>

<p>
	<strong>Soluções:</strong> Apoiamos uma emenda
	constituicional requerindo que os governo federal, estadual e
	municipal equilibrem suas contas. Efetivamente, uma emenda
	de equilíbrio de orçamento deve requerer:
</p>

<p>
	a.) que nem o Congresso nem o Presidente possam ignorar essa regra;
</p>

<p>
	b.) que todos os itens de fora do orçamento sejam incluídos no orçamento;
</p>

<p>
	c.) que o orçamento seja equilibrado exclusivamente através do corte de gastos, não por aumento de impostos e;
</p>

<p>
	d.) que nenhuma exceção deve ser feita para períodos de emergência nacional.
</p>

<p>
	Governos enfrentando crises fiscais devem sempre pedir a moratória em vez de aumentar impostos.
</p>

<p>
	<strong>Ação transitória:</strong> O Banco Central deve ser proibido de adquirir
	quaisquer seguros adicionais do governo, ajudando assim a eliminar o aspecto
	inflacionário do déficit. No mínimo, o nível do governo deve ser congelado.
</p>

<h2><a name="Monopolio">6. Monopólios</a></h2>

<p class="top"><a href="#Topo">Ir para o topo</a></p>

<p>
	<strong>A questão:</strong> Nós identificamos o governo como a causa do monopólio,
	através da concessão de privilégios legais a grupos de interesses na economia.
</p>

<p>
	<strong>O princípio:</strong> Leis anti-truste não evitam monopólios,
	mas os criam por limitarem a competição. Nós defendemos o direito dos
	indivíduos de formarem corporações, cooperativas e outros tipos de
	companhias baseadas em associações voluntárias.
</p>

<p>
	<strong>Soluções:</strong> Condenamos todos os monopólios coercitivos.
	Para aboli-los, advogamos uma estrita separação entre os negócios e
	o Estado. Leis de incorporação não devem incluir garantias de privilégios
	monopolísticos. Em particular, nós eliminaríamos os limites especiais na
	responsabilização de corporações por danos causados em transações
	não contratuais. Nós também nos opomos a limites estaduais ou federais
	sobre o tamanho das companhias privadas e sobre o direito das companhias
	de se fundirem. Nós ainda nos opomos a esforços - em nome da responsabilidade
	social ou por qualquer outra razão - para expandir o licenceamento
	federal de corporações com o pretexto de o governo controlar as empresas.
</p>

<p>
	<strong>Ação transitória:</strong> Nós pedimos a abolição de todas as
	leis anti-truste. Somos a favor ainda da eliminação do CADE
	e de quaisquer outras instituições que visem limitar
	o tamanho das corporações.
</p>

<h2><a name="Subsidios">7. Subsídios</a></h2>

<p class="top"><a href="#Topo">Ir para o topo</a></p>

<p>
	<strong>A questão:</strong> A competição irrestrita no livre mercado
	é o melhor meio de atingir a prosperidade.
</p>

<p>
	<strong>O princípio:</strong> Para chegarmos a ter uma economia livre,
	na qual o governo não vitimize ninguém para o benefício de terceiros,
	nós nos opomos a todos os subsídios a empresas, empregados, educação,
	agricultura, ciência, radiodifusão, artes, esportes ou quaisquer outros
	interesses especiais. Em particular, condenamos quaisquer esforços de
	forjar uma aliança entre governo e empresas sob o pretexto de "reindustrialização"
	ou da "política indústrial". Alívio ou isenção de taxação ou de qualquer
	outra intervenção involuntária do governo, no entanto,
	não deve ser considerada um subsídio.
</p>

<p>
	<strong>Soluções:</strong> Apoiamos a abolição do BNDES,
	a principal agência nacional de subsídio a interesses especiais
	com empréstimos governamentais. Nós também nos opomos a quaisquer
	garantias governamentais a empréstimos privados. Tais garantias
	transferem recursos para grupos especiais tanto quanto gastos do governo
	propriamente ditos e, a nível nacional, excedem empréstimos diretos
	do governo em volume total. Pagadores de impostos não devem nunca sustentar
	os custos da moratória de empréstimos garantidos pelo governo. Todas as agências
	nacionais, estaduais e municipais cuja função seja a de segurar empréstimos
	devem ser abolidas ou privatizadas. Além disso, os empréstimos de empreendimentos
	patrocinados pelo governo, mesmo quando não segurados pelo governo, constituem
	outra forma de subsídio. Todos esses empreendimentos devem ser
	abolidos ou totalmente privatizados.
</p>

<p>
	<strong>Ação transitória:</strong> Nos opomos a qualuqer plano que
	force os pagadores de impostos a subsidiar ou a sustentar
	qualquer empreendimento.
</p>

<h2><a name="BarreirasDeComercio">8. Barreiras de comércio</a></h2>

<p class="top"><a href="#Topo">Ir para o topo</a></p>

<p>
	<strong>A questão:</strong> Tarifas e cotas servem apenas para dispensar
	tratamento especial a grupos favorecidos e para diminuir o bem estar dos
	consumidores e de outros indivíduos. Essas medidas também reduzem o
	alcance dos contratos e o entendimento entre diferentes povos.
</p>

<p>
	<strong>O princípio:</strong> Indivíduos comerciando com outros indivíduos
	em outras nações voluntariamente devem ser a única fonte de regulação dos
	mercados internacionais. Todas as barreiras protecionistas são
	desnecessárias e onerosas.
</p>

<p>
	<strong>Soluções:</strong> Apoiamos a abolição de todas as barreiras
	comerciais e todos os programas de subsídio às exportações.
	Essa política deve ser unilateralmente adotada,
	independentemente das políticas comerciais de outros países.
</p>

<h2><a name="ServicosDeUtilidadePublica">9. Serviços de utilidade pública</a></h2>

<p class="top"><a href="#Topo">Ir para o topo</a></p>

<p>
	<strong>A questão:</strong> Acreditamos que o envolvimento do
	governo na provisão de serviços de utilidade pública enfraqueceu o
	livre mercado e limitou o desenvolvimento e a disponibilidade
	de serviços de alta qualidade.
</p>

<p>
	<strong>O princípio:</strong> O direito de oferecer, no mercado,
	serviços como coleta de lixo, proteção contra incêndios, eletricidade,
	gás natural, TV , correios, telefone ou água e esgoto não
	devem ser impedidos pela lei.
</p>

<p>
	<strong>Soluções:</strong> Nós defendemos a extinção de franquias
	privilegiadas pelo governo e de monopólios governamentais
	para esses serviços.
</p>

<p>
	<strong>Ação transitória:</strong> Todas as regulações das
	indústrias que provejam esses serviços devem ser abolidas.
</p>

<h2><a name="SindicatosENegociacoesColetivas">10. Sindicatos e negociações coletivas</a></h2>

<p class="top"><a href="#Topo">Ir para o topo</a></p>

<p>
	<strong>A questão:</strong> A interferência do governo na relação empregador/empregado
	impôs um peso desnecessário na nossa economia, destruindo os
	direitos de ambos de assumir contratos no livre mercado.
</p>

<p>
	<strong>O princípio:</strong> Apoiamos o direito de pessoas livres
	voluntariamente estabelecerem ou associarem-se a sindicatos trabalhistas.
	Um empresário deve ter o direito de reconhecer ou de se recusar a reconhecer
	um sindicato como o agente de barganha coletiva de alguns
	ou de todos os seus empregados.
</p>

<p>
	<strong>Soluções:</strong> Nos opomos à interferência governamental
	nas negociações, tais como arbitragem compulsória ou como a imposição de
	uma obrigação de negociar. Portanto, nós apoiamos a eliminação da CLT e de
	todas as outras leis de direito ao trabalho, que proíbem empregadores de
	fazerem contratos voluntários com sindicatos. Nos opomos a todas as
	ordens governamentais de recondução ao trabalho como sendo imposições
	de uma forma de trabalho forçado.
</p>

<p>
	<strong>Ação transitória:</strong> Períodos de espera para o fechamento
	de fábricas ou estabelecimentos comerciais prejudicam, em vez de ajudar,
	o trabalhador. Nós apoiamos todos os esforços para beneficiar os
	trabalhadores ao manter o governo fora dessa área. Empregados e empresários
	devem ter o direito de organizar boicotes, se assim escolherem. No entanto,
	boicotes ou greves não justificam a iniciação de violência contra outros trabalhadores,
	empresários, aqueles que não desejem aderir à greve e outras pessoas pacíficas.
</p>
