<html> 
<head>
<link rel="stylesheet" type="text/css" href="layout/menu.css">
<link rel="shortcut icon" href="favicon.ico">
<title>Libert&aacute;rios - LIBER | Mais liberdade, menos governo</title> 
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"> 

</head> 
<body> 
<table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="161" height="118" rowspan="2" valign="top"><img src="layout/images/logo.gif" width="161" height="118"></td>
    <td width="516" height="77" background="layout/images/bg_top.gif"><img src="layout/images/logotipo.gif" width="324" height="77"></td>
    <td width="315" height="77" background="layout/images/bg_top.gif"><table width="300" height="65"  border="0" align="center" cellpadding="0" cellspacing="0" background="layout/images/newsletter.gif">
        <tr>
          <td height="30" valign="top"> </td>
        </tr>
        <tr>
          <td height="35" valign="middle"><form name="newsleter" method="post" action="">
              <div align="center">
                <input name="newsletter2" type="text" id="newsletter22" value="e-mail" size="20">
&nbsp;&nbsp;&nbsp;&nbsp;
                <input name="imageField" type="image" src="layout/images/assinar.gif" width="71" height="23" border="0">
              </div>
          </form></td>
        </tr>
    </table></td>
  </tr>
  <tr>
    <td width="799" colspan="2" background="layout/images/bg-menu.gif"><div class="navigation">
        <ul id="nav">
          <li class="rows_5"> <a href="index.htm" title="Libert&aacute;rios - LIBER"><span><img src="layout/images/home.png" border="0"></span></a> </li>
          <li class="rows_5"> <a href="#" title="Nosso Partido"><span>Nosso Partido</span></a>
              <div class="drop-holder">
                <div class="drop-content">
                  <ul>
                    <li> <a href="historia.htm" title="Hist&oacute;ria">Hist&oacute;ria</a> </li>
                    <li> <a href="filosofia.htm" title="Filosofia">Filosofia</a> </li>
                    <li> <a href="programa.htm" title="Programa">Programa</a> </li>
                    <li> <a href="estatuto.htm" title="Estatuto">Estatuto</a> </li>
                    <li> <a href="liderancas.htm" title="Lideran&ccedil;as">Lideran&ccedil;as Nacionais</a> </li>
                    <li> <a href="contas.htm" title="Presta&ccedil;&atilde;o de Contas">Presta&ccedil;&atilde;o de Contas</a> </li>
                  </ul>
                </div>
              </div>
          </li>
          <li class="rows_4"> <a href="ideias.htm" title="Ideias"><span>Ideias</span></a>
              <div class="drop-holder">
                <div class="drop-content">
                  <ul>
                    <li> <a href="blog.htm" title="Blog">Blog</a> </li>
                    <li> <a href="artigos.htm" title="Artigos">Artigos</a> </li>
                    <li> <a href="ideia_individual.htm" title="Direitos Individuais">Direitos Individuais</a> </li>
                    <li> <a href="ideia_economia.htm" title="Com&eacute;rcio e Economia">Com&eacute;rcio e Economia</a> </li>
                    <li> <a href="ideia_domestico.htm" title="Assuntos Dom&eacute;sticos">Assuntos Dom&eacute;sticos</a> </li>
                    <li> <a href="ideia_esterior.htm" title="Rela&ccedil;&otilde;es Exteriores">Rela&ccedil;&otilde;es Exteriores</a> </li>
                    <li> <a href="faq.htm" title="Perguntas Frequentes">Perguntas Frequentes</a> </li>
                  </ul>
                </div>
              </div>
          </li>
          <li class="rows_5"> <a href="#" title="Participe"><span>Participe</span></a>
              <div class="drop-holder">
                <div class="drop-content">
                  <ul>
                    <li> <a href="cadastro.htm" title="Cadastre-se">Cadastre-se</a> </li>
                    <li> <a href="filiacao.htm" title="Filie-se">Filie-se</a> </li>
                    <li> <a href="doacao.htm" title="Fa&ccedil;a uma doa&ccedil;&atilde;o">Fa&ccedil;a uma doa&ccedil;&atilde;o</a> </li>
                    <li> <a href="divulgacao.htm" title="Divulgue">Divulgue</a></li>
                    <li> <a href="newsletter.htm" title="Newsletter">Newsletter</a></li>
                    <li> <a href="liber500.htm" title="Liber 500">Liber 500</a></li>
                    <li> <a href="forum.htm" title="F&oacute;rum">F&oacute;rum</a></li>
                    <li> <a href="contato.htm" title="Contato">Contato</a></li>
                  </ul>
                </div>
              </div>
          </li>
          <li class="rows_3"> <a href="#" title="M&iacute;dia"><span>M&iacute;dia</span></a>
              <div class="drop-holder">
                <div class="drop-content">
                  <ul>
                    <li> <a href="imprensa.htm" title="Na Imprensa">Na Imprensa</a></li>
                    <li> <a href="jornalistas.htm" title="Para Jornalistas">Para Jornalistas</a></li>
                    <li> <a href="eventos.htm" title="Eventos">Eventos</a></li>
                  </ul>
                </div>
              </div>
          </li>
          <li class="rows_0"><a href="diretorios.htm" title="Diret&oacute;rios"><span>Diret&oacute;rios</span></a> </li>
          <li class="rows_0"> <a href="loja.htm" title="Loja"><span>Loja</span></a> </li>
          <li class="rows_0"> <a href="faq.htm" title="Perguntas Frequentes"><span>FAQ</span></a> </li>
        </ul>
    </div></td>
  </tr>
</table>
<table width="960"  border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td width="660" valign="top"><table width="100%"  border="0" cellpadding="5" cellspacing="3">
        <tr>
          <td width="150" valign="top"><p>&nbsp;</p>
            <p><strong>Participe</strong><br>
              <br>
              <a href="cadastro.htm">Cadastre-se</a><br>
              <a href="filiacao.htm">Filie-se</a><br>
              <a href="doacao.htm">Fa&ccedil;a uma doa&ccedil;&atilde;o</a><br>
              <font color="#990000">- Divulgue</font><br>
              <a href="newsletter.htm">Newsletter</a><font color="#990000"><br>
             </font><a href="liber500.htm"> LIBER 500</a><br>
             <a href="forum.htm">F&oacute;rum</a><br>
             <a href="contato.htm">Contato</a></p>          </td>
          <td width="510" valign="top"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="5" rowspan="2" valign="top"><img src="layout/images/left_border.gif" width="5" height="150"></td>
              <td height="50" background="layout/images/top_border.gif"><p><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><strong>DIVULGA&Ccedil;&Atilde;O</strong></font></p></td>
              <td width="5" rowspan="2" valign="top"><img src="layout/images/right_border.gif" width="5" height="150"></td>
            </tr>
            <tr>
              <td><p align="justify"> <strong>Inserir banners, folders e outros materias de divulga&ccedil;&atilde;o.</strong></p>
                <p align="justify">Falta conte&uacute;do.</p>
                </td>
            </tr>
          </table>            <br>            </td>
        </tr>
    </table></td>
    <td valign="top" width="300">
      <table width="100%"  border="0" cellspacing="3" cellpadding="5">
        <tr>
          <td><table width="300" height="205"  border="0" align="center" cellpadding="0" cellspacing="0" background="layout/images/box.gif">
              <tr>
                <td width="7" rowspan="3" valign="top">&nbsp;</td>
                <td height="50" colspan="2"><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">TENHA ATITUDE</font></strong></td>
                <td width="8" rowspan="3" valign="top">&nbsp;</td>
              </tr>
              <tr>
                <td width="50%"><p align="left"><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><strong>&nbsp;&nbsp;<a href="filiacao.htm">Filie-se</a><br>
                            <br>
&nbsp;&nbsp;<a href="doacao.htm">Contribua</a><br>
                    <br>
&nbsp;&nbsp;<a href="divulgacao.htm">Divulgue</a></strong></font></p></td>
                <td width="50%"><div align="left"><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><strong>&nbsp;&nbsp;<a href="ideias.htm">Conhe&ccedil;a mais</a><br>
                            <br>
&nbsp;&nbsp;<a href="amigos.htm">Convide amigos</a><br>
                    <br>
&nbsp;&nbsp;<a href="forum.htm">Debata</a></strong></font></div></td>
              </tr>
              <tr>
                <td height="30" colspan="2">&nbsp;</td>
              </tr>
            </table>
              <br>
              <table width="300"  border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="5" rowspan="2" valign="top"><img src="layout/images/left_border.gif" width="5" height="150"></td>
                  <td height="50" colspan="2" background="layout/images/top_border.gif"><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">LOGIN</font></strong></td>
                  <td width="5" rowspan="2" valign="top"><img src="layout/images/right_border.gif" width="5" height="150"></td>
                </tr>
                <tr>
                  <td colspan="2"><form name="login" method="post" action="">
                      <div align="center"><font size="1" face="Verdana, Arial, Helvetica, sans-serif"> usu&aacute;rio:
                            <input name="user" type="text" id="user" size="20">
                            <br>
                      senha:
                      <input name="pass" type="password" id="pass" size="15">
                      <input name="login" type="submit" id="login" value="entrar">
                      <br>
                      <br>
                      Cadastre-se </font> </div>
                  </form></td>
                </tr>
              </table>
              <br>
              <table width="300"  border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="5" rowspan="2" valign="top"><img src="layout/images/left_border.gif" width="5" height="150"></td>
                  <td height="50" colspan="2" background="layout/images/top_border.gif"><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><strong>REDES SOCIAIS</strong></font></td>
                  <td width="5" rowspan="2" valign="top"><img src="layout/images/right_border.gif" width="5" height="150"></td>
                </tr>
                <tr>
                  <td colspan="2"><p align="center"><img src="layout/images/redes.gif" border="0" usemap="#redes">
                          <map name="redes">
                            <area shape="rect" coords="115,3,143,33" href="http://www.formspring.me/Libertarios" target="_blank" alt="formspring">
                            <area shape="rect" coords="84,3,110,33" href="http://www.youtube.com/user/CANALPLIBER" target="_blank" alt="youtube">
                            <area shape="rect" coords="53,3,81,33" href="http://www.facebook.com/pages/Libertarios/131689188332" target="_blank" alt="facebook">
                            <area shape="rect" coords="28,3,52,33" href="http://twitter.com/sejaliber" target="_blank" alt="twitter">
                            <area shape="rect" coords="3,3,27,33" href="http://www.orkut.com.br/Main#Community?cmm=6654405" target="_blank" alt="orkut">
                          </map>
                  </p></td>
                </tr>
              </table>
          </td>
        </tr>
    </table></td>
  </tr>
</table>
<table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td background="layout/images/bg_bottom.gif"><table width="960"  border="0" align="center" cellpadding="2" cellspacing="3" background="layout/images/bg_bottom.gif">
      <tr>
        <td valign="top"><p><font color="#FFFFFF" size="1" face="Verdana, Arial, Helvetica, sans-serif">O <strong>Libert&aacute;rios (LIBER)</strong> &eacute; um partido pol&iacute;tico que tem como ideal defender a liberdade ao inv&eacute;s da coer&ccedil;&atilde;o. Para tanto &eacute; necess&aacute;rio discutir e mostrar que o excesso de aparato estatal &eacute; ineficiente e coage os indiv&iacute;duos a seguirem suas vidas pelo caminho que considerarem o melhor.<img src="layout/images/liber_hand.png" width="183" height="210" align="right"><br>
                  <br>
        Todo in&iacute;cio de agress&atilde;o para com n&atilde;o agressores &eacute; um absurdo. Contra a prefer&ecirc;ncia pela agress&atilde;o, que mata, rouba, prende e coage, est&aacute; a prefer&ecirc;ncia pela liberdade.<br>
        <br>
            </font><font color="#FFFFFF" size="1" face="Verdana, Arial, Helvetica, sans-serif">Este &eacute; o <strong>LIBER</strong>, que prop&otilde;e Liberdade Econ&ocirc;mica e Liberdade Individual, pois nenhum indiv&iacute;duo ou grupo de indiv&iacute;duos tem a legitimidade de mandar na vida de outros.<br>
            <br>
            <br>
        | <a href="mapadosite.htm" class="rodape">Mapa do Site</a> | <a href="privacidade.htm" class="rodape">Pol&iacute;tica de Privacidade</a> | <a href="admin.htm" class="rodape">Administra&ccedil;&atilde;o</a> | <a href="contato.htm" class="rodape">Contato</a> |</font></p></td>
        <td width="20%" valign="top"><font color="#FFFFFF" size="1" face="Verdana, Arial, Helvetica, sans-serif"> Nosso partido <br>
      - <a href="historia.htm" class="rodape">Hist&oacute;ria</a><br>
      - <a href="filosofia.htm" class="rodape">Filosofia</a><br>
      - <a href="programa.htm" class="rodape">Programa</a><br>
      - <a href="estatuto.htm" class="rodape">Estatuto</a><br>
      - <a href="liderancas.htm" class="rodape">Lideran&ccedil;as Nacionais</a><br>
      - <a href="contas.htm" class="rodape">Presta&ccedil;&atilde;o de contas</a><br>
	  <br>
      Ideias <br>
      - <a href="blog.htm" class="rodape">Blog</a><br>
      - <a href="artigos.htm" class="rodape">Artigos</a><br>
      - <a href="ideia_individual.htm" class="rodape">Direitos individuais</a><br>
      - <a href="ideia_economia.htm" class="rodape">Com&eacute;rcio e economia</a><br>
      - <a href="ideia_domestico.htm" class="rodape">Assuntos dom&eacute;sticos</a><br>
      - <a href="ideia_exterior.htm" class="rodape">Rela&ccedil;&otilde;es exteriores</a><br>
      <br>
      <a href="diretorios.htm" class="rodape">Diret&oacute;rios</a></font></td>
        <td width="20%" valign="top"><font color="#FFFFFF" size="1" face="Verdana, Arial, Helvetica, sans-serif"> Participe <br>
      - <a href="cadastro.htm" class="rodape">Cadastre-se</a><br>
      - <a href="filiacao.htm" class="rodape">Filie-se</a><br>
      - <a href="doacao.htm" class="rodape">Fa&ccedil;a uma doa&ccedil;&atilde;o</a><br>
      - <a href="divulgacao.htm" class="rodape">Divulgue</a><br>
      - <a href="newsletter.htm" class="rodape">Newsletter</a><br>
      - <a href="liber500.htm" class="rodape">Liber 500</a><br>
      - <a href="forum.htm" class="rodape">F&oacute;rum</a><br>
      - <a href="contato.htm" class="rodape">Contato</a><br>
      <br>
      M&iacute;dia <br>
      - <a href="imprensa.htm" class="rodape">Na imprensa</a><br>
      - <a href="jornalistas.htm" class="rodape">Para jornalistas</a><br>
      - <a href="eventos.htm" class="rodape">Eventos</a><br>
      <br>
      <a href="loja.htm" class="rodape">Loja</a><br>
      <br>
      <a href="faq.htm" class="rodape">FAQ (perguntas frequ&ecirc;ntes)</a> </font></td>
      </tr>
      <tr>
        <td colspan="3" valign="top"><div align="right"><font color="#FFFFFF" size="1" face="Verdana, Arial, Helvetica, sans-serif">Copyright &copy; 2010 LIBER. Todos os direitos reservados.</font></div></td>
      </tr>
    </table></td>
  </tr>
</table>
</body> 
</html> 