<html> 
<head>
<link rel="stylesheet" type="text/css" href="layout/menu.css">
<link rel="shortcut icon" href="favicon.ico">
<title>Libert&aacute;rios - LIBER | Mais liberdade, menos governo</title> 
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"> 

</head> 
<body> 
<table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="161" height="118" rowspan="2" valign="top"><img src="layout/images/logo.gif" width="161" height="118"></td>
    <td width="516" height="77" background="layout/images/bg_top.gif"><img src="layout/images/logotipo.gif" width="324" height="77"></td>
    <td width="315" height="77" background="layout/images/bg_top.gif"><table width="300" height="65"  border="0" align="center" cellpadding="0" cellspacing="0" background="layout/images/newsletter.gif">
        <tr>
          <td height="30" valign="top"> </td>
        </tr>
        <tr>
          <td height="35" valign="middle"><form name="newsleter" method="post" action="">
              <div align="center">
                <input name="newsletter2" type="text" id="newsletter22" value="e-mail" size="20">
&nbsp;&nbsp;&nbsp;&nbsp;
                <input name="imageField" type="image" src="layout/images/assinar.gif" width="71" height="23" border="0">
              </div>
          </form></td>
        </tr>
    </table></td>
  </tr>
  <tr>
    <td width="799" colspan="2" background="layout/images/bg-menu.gif"><div class="navigation">
        <ul id="nav">
          <li class="rows_5"> <a href="index.htm" title="Libert&aacute;rios - LIBER"><span><img src="layout/images/home.png" border="0"></span></a> </li>
          <li class="rows_5"> <a href="#" title="Nosso Partido"><span>Nosso Partido</span></a>
              <div class="drop-holder">
                <div class="drop-content">
                  <ul>
                    <li> <a href="historia.htm" title="Hist&oacute;ria">Hist&oacute;ria</a> </li>
                    <li> <a href="filosofia.htm" title="Filosofia">Filosofia</a> </li>
                    <li> <a href="programa.htm" title="Programa">Programa</a> </li>
                    <li> <a href="estatuto.htm" title="Estatuto">Estatuto</a> </li>
                    <li> <a href="liderancas.htm" title="Lideran&ccedil;as">Lideran&ccedil;as Nacionais</a> </li>
                    <li> <a href="contas.htm" title="Presta&ccedil;&atilde;o de Contas">Presta&ccedil;&atilde;o de Contas</a> </li>
                  </ul>
                </div>
              </div>
          </li>
          <li class="rows_4"> <a href="ideias.htm" title="Ideias"><span>Ideias</span></a>
              <div class="drop-holder">
                <div class="drop-content">
                  <ul>
                    <li> <a href="blog.htm" title="Blog">Blog</a> </li>
                    <li> <a href="artigos.htm" title="Artigos">Artigos</a> </li>
                    <li> <a href="ideia_individual.htm" title="Direitos Individuais">Direitos Individuais</a> </li>
                    <li> <a href="ideia_economia.htm" title="Com&eacute;rcio e Economia">Com&eacute;rcio e Economia</a> </li>
                    <li> <a href="ideia_domestico.htm" title="Assuntos Dom&eacute;sticos">Assuntos Dom&eacute;sticos</a> </li>
                    <li> <a href="ideia_esterior.htm" title="Rela&ccedil;&otilde;es Exteriores">Rela&ccedil;&otilde;es Exteriores</a> </li>
                    <li> <a href="faq.htm" title="Perguntas Frequentes">Perguntas Frequentes</a> </li>
                  </ul>
                </div>
              </div>
          </li>
          <li class="rows_5"> <a href="#" title="Participe"><span>Participe</span></a>
              <div class="drop-holder">
                <div class="drop-content">
                  <ul>
                    <li> <a href="cadastro.htm" title="Cadastre-se">Cadastre-se</a> </li>
                    <li> <a href="filiacao.htm" title="Filie-se">Filie-se</a> </li>
                    <li> <a href="doação.htm" title="Fa&ccedil;a uma doa&ccedil;&atilde;o">Fa&ccedil;a uma doa&ccedil;&atilde;o</a> </li>
                    <li> <a href="divulgacao.htm" title="Divulgue">Divulgue</a></li>
                    <li> <a href="newsletter.htm" title="Newsletter">Newsletter</a></li>
                    <li> <a href="liber500.htm" title="Liber 500">Liber 500</a></li>
                    <li> <a href="forum.htm" title="F&oacute;rum">F&oacute;rum</a></li>
                    <li> <a href="contato.htm" title="Contato">Contato</a></li>
                  </ul>
                </div>
              </div>
          </li>
          <li class="rows_3"> <a href="#" title="M&iacute;dia"><span>M&iacute;dia</span></a>
              <div class="drop-holder">
                <div class="drop-content">
                  <ul>
                    <li> <a href="imprensa.htm" title="Na Imprensa">Na Imprensa</a></li>
                    <li> <a href="jornalistas.htm" title="Para Jornalistas">Para Jornalistas</a></li>
                    <li> <a href="eventos.htm" title="Eventos">Eventos</a></li>
                  </ul>
                </div>
              </div>
          </li>
          <li class="rows_0"><a href="diretorios.htm" title="Diret&oacute;rios"><span>Diret&oacute;rios</span></a> </li>
          <li class="rows_0"> <a href="loja.htm" title="Loja"><span>Loja</span></a> </li>
          <li class="rows_0"> <a href="faq.htm" title="Perguntas Frequentes"><span>FAQ</span></a> </li>
        </ul>
    </div></td>
  </tr>
</table>
<table width="960"  border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td width="660" valign="top"><table width="100%"  border="0" cellpadding="5" cellspacing="3">
        <tr>
          <td width="150" valign="top"><p>&nbsp;</p>
            <p><strong>Nosso Partido</strong><br>
              <br>
              <a href="historia.htm">Hist&oacute;ria</a><br>
              <a href="filosofia.htm">Filosofia</a><br>
              <a href="programa.htm">Programa</a><br>
              <font color="#990000">- Estatuto</font><br>
              <a href="liderancas.htm">Lideran&ccedil;as nacionais</a><br>
              <a href="contas.htm">Presta&ccedil;&atilde;o de contas</a>          </p></td>
          <td width="510" valign="top"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="5" rowspan="2" valign="top"><img src="layout/images/left_border.gif" width="5" height="150"></td>
              <td height="50" background="layout/images/top_border.gif"><p><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><strong>ESTATUTO</strong></font></p></td>
              <td width="5" rowspan="2" valign="top"><img src="layout/images/right_border.gif" width="5" height="150"></td>
            </tr>
            <tr>
              <td><h4 align="justify"><a href="download/estatuto.pdf" target="_blank"><img src="layout/images/pdf_button.png" alt="ler em PDF" width="16" height="16" hspace="5" border="0" align="right"></a>O Partido e Seus Objetivos.</h4>
                <p>Artigo 1&ordm;.&nbsp;O Libert&aacute;rios, cuja sigla &eacute; LIBER, &eacute; um partido pol&iacute;tico, com sede e foro na Capital Federal, dura&ccedil;&atilde;o indeterminada, a&ccedil;&atilde;o em todo o territ&oacute;rio nacional e &eacute; regido por este Estatuto e pela legisla&ccedil;&atilde;o aplic&aacute;vel.&nbsp; </p>
                <p>Artigo 2&ordm;. O LIBER visa defender e propagar os princ&iacute;pios do Libertarianismo, conforme detalhados em seu Programa, segundo os quais:&nbsp; </p>
                <p>I. Todo indiv&iacute;duo tem direito (a) &agrave; vida, origem de todos os outros direitos; (b) &agrave; liberdade de agir e buscar sua felicidade como lhe convier; e (c) &agrave; propriedade, fruto leg&iacute;timo de sua vida e sua liberdade; e&nbsp; </p>
                <p>II.&nbsp;Para que esses direitos sejam respeitados, &eacute; essencial que nenhum indiv&iacute;duo ou grupo inicie o uso de for&ccedil;a ou fraude contra outrem.&nbsp; </p>
                <p>Par&aacute;grafo &Uacute;nico.&nbsp;Altera&ccedil;&otilde;es neste artigo necessitam aprova&ccedil;&atilde;o de 90% (noventa por cento) dos filiados com direito a voto em conven&ccedil;&atilde;o exclusiva para este fim.&nbsp;&nbsp; </p>
                <h4>Os Filiados, Seus Direitos e Deveres. </h4>
                <p>Artigo 3&ordm;. Pode se filiar ao LIBER qualquer brasileiro, no pleno gozo de seus direitos pol&iacute;ticos, que concorde com o Programa e o Estatuto do LIBER.&nbsp;&sect; 1&ordm;.&nbsp;&nbsp;&nbsp; O filiado fica vinculado ao DI Nacional e aos outros cujas &aacute;reas incluam o seu domic&iacute;lio eleitoral.&nbsp;&sect; 2&ordm;.&nbsp;&nbsp;&nbsp; O DI da menor subdivis&atilde;o far&aacute; o controle das filia&ccedil;&otilde;es e disponibilizar&aacute; as informa&ccedil;&otilde;es aos DIs que o englobem.&nbsp;&nbsp; </p>
                <p>Artigo 4&ordm;. Os filiados t&ecirc;m direito a:&nbsp;&nbsp; </p>
                <p>I. Votar nas conven&ccedil;&otilde;es diretas;&nbsp;&nbsp; </p>
                <p>II.&nbsp;Concorrer a cargos dos DIs que participe;&nbsp;&nbsp; </p>
                <p>III.&nbsp;Concorrer pelo LIBER a cargos p&uacute;blicos, respeitadas as normas de escolha de candidatos;&nbsp; </p>
                <p>IV.&nbsp;Ser informado sobre as decis&otilde;es e finan&ccedil;as do LIBER em todos os n&iacute;veis da federa&ccedil;&atilde;o; e&nbsp; </p>
                <p>V.&nbsp;Ter seus dados mantidos em sigilo, exceto conforme exigido por lei e para as finalidades intr&iacute;nsecas do LIBER.&nbsp; &sect; 1&ordm;.&nbsp;&nbsp;&nbsp; O direito indicado no inciso I acima, apenas poder&aacute; ser exercido por indiv&iacute;duos em dia com suas anuidades e filiados h&aacute; mais de 12 (doze) meses.&nbsp; &sect; 2&ordm;.&nbsp;&nbsp;&nbsp; Os direitos indicados nos incisos II a III acima, apenas poder&atilde;o ser exercidos por indiv&iacute;duos em dia com suas anuidades e filiados h&aacute; mais de 24 (vinte e quatro) meses.&nbsp; </p>
                <p>Artigo 5&ordm;.&nbsp;&Eacute; dever dos filiados:&nbsp; </p>
                <p>I. Manter conduta &eacute;tica;&nbsp; </p>
                <p>II.&nbsp;Manter atitude respeitosa com outros filiados;&nbsp; </p>
                <p>III.&nbsp;Abster-se de defender posi&ccedil;&otilde;es contr&aacute;rias aos princ&iacute;pios libert&aacute;rios; e&nbsp; </p>
                <p>IV.&nbsp;Pagar a anuidade dos DIs.&nbsp; </p>
                <p>Artigo 6&ordm;.&nbsp;A filia&ccedil;&atilde;o ser&aacute; cancelada nas hip&oacute;teses previstas em lei e por decis&atilde;o do CJ competente, da qual mais recurso.&nbsp;&nbsp; </p>
                <h4>Organiza&ccedil;&atilde;o e Funcionamento. </h4>
                <p>Artigo 7&ordm;.&nbsp;O LIBER se organiza em Diret&oacute;rios (DI) que podem existir nos n&iacute;veis nacional, estadual, municipal e, quando for o caso, zonal.&nbsp; </p>
                <p>&sect; 1&ordm;.&nbsp;Cada DI ter&aacute; programa e estatuto complementar aos dos DIs superiores;&nbsp; </p>
                <p>&sect; 2&ordm;.&nbsp;Respeitados os limites aqui previstos, cada DI ter&aacute; autonomia para definir sua estrutura e decidir as quest&otilde;es pertinentes ao seu &acirc;mbito de atua&ccedil;&atilde;o.&nbsp; </p>
                <p>Artigo 8&ordm;.&nbsp;Cada DI dever&aacute; possuir os seguintes &oacute;rg&atilde;os:&nbsp; </p>
                <p>I. Conven&ccedil;&atilde;o Geral (CG)&nbsp; </p>
                <p>II.&nbsp;Comit&ecirc; Executivo (CE);&nbsp; </p>
                <p>III.&nbsp;Comit&ecirc; Fiscal (CF); e&nbsp; </p>
                <p>IV.&nbsp;Comit&ecirc; Julgador (CJ).&nbsp; </p>
                <p>&sect; 1&ordm;.&nbsp;&Eacute; vedado o ac&uacute;mulo de cargos em quaisquer &oacute;rg&atilde;os de um mesmo DI. Em DIs de diferentes n&iacute;veis da federa&ccedil;&atilde;o apenas &eacute; permitido o ac&uacute;mulo de um ou mais cargos no CE (exceto se na Executiva) com outro cargo qualquer.&nbsp; </p>
                <p>&sect; 2&ordm;. Os membros destes &oacute;rg&atilde;os n&atilde;o receber&atilde;o remunera&ccedil;&atilde;o ou isen&ccedil;&atilde;o de anuidades, exceto pelo ressarcimento de despesas previamente autorizadas e comprovadamente incorridas no exerc&iacute;cio de sua fun&ccedil;&atilde;o.&nbsp; </p>
                <p>&sect; 3&ordm;.&nbsp;Os DIs zonais poder&atilde;o optar, em seus estatutos, por substituir os &oacute;rg&atilde;os previstos acima, por uma Executiva e um corpo de delegados.&nbsp; </p>
                <p>Artigo 9&ordm;.&nbsp;A cria&ccedil;&atilde;o de um DI depende da aprova&ccedil;&atilde;o deste pela CG do DI imediatamente superior.&nbsp; </p>
                <p>Artigo 10.&nbsp;Pelo voto favor&aacute;vel de 75% (setenta e cinco por cento) de sua CG, o DI imediatamente superior poder&aacute; dissolver o DI abaixo. A convoca&ccedil;&atilde;o desta CG dever&aacute; ser fundamentada e poder&aacute; ser questionada pelo DI prejudicado no CJ Nacional.&nbsp;&nbsp; </p>
                <h4>As Conven&ccedil;&otilde;es Gerais. </h4>
                <p>Artigo 11. Periodicamente os DIs dever&atilde;o reunir seus filiados em CGs na forma estabelecida neste Estatuto, as quais dever&atilde;o ser diretas nos DIs da menor subdivis&atilde;o do LIBER e indiretas, por meio de delegados, nos demais DIs.&nbsp; </p>
                <p>&sect; 1&ordm;. N&atilde;o obstante o &sect; 1&ordm; do Artigo 4&ordm;, todo filiado poder&aacute; comparecer e se manifestar nas CGs.&nbsp; </p>
                <p>&sect; 2&ordm;.&nbsp;Nas CGs indiretas, os DIs imediatamente inferiores poder&atilde;o enviar (a) 01 (um) delegado para cada 01% (um por cento) da arrecada&ccedil;&atilde;o com anuidades obtida pelo DI em quest&atilde;o, paga por filiados ao DI inferior; e (b) 01 (um) delegado para cada 01% (um por cento) dos votos obtidos por candidatos do LIBER em elei&ccedil;&otilde;es proporcionais da unidade da federa&ccedil;&atilde;o do DI em quest&atilde;o, na &aacute;rea correspondente &agrave;quele DI inferior; sempre arredondado para baixo. Se for o caso, pelo menos 02 (dois) dias &uacute;teis antes da CG, o DI realizar&aacute; uma reuni&atilde;o pr&eacute;via na qual votar&atilde;o os filiados n&atilde;o vinculados a DIs inferiores, esta reuni&atilde;o ter&aacute; efeitos de um DI inferior. Caso algum DI imediatamente inferior n&atilde;o totalize 01% (um por cento) da arrecada&ccedil;&atilde;o e dos votos ele ter&aacute; direito a 01 (um) delegado.&nbsp; </p>
                <p>&sect; 3&ordm;. O estatuto de cada DI inferior determinar&aacute; como ser&atilde;o escolhidos seus delegados.&nbsp; </p>
                <p>&sect; 4&ordm;.&nbsp;Os delegados poder&atilde;o outorgar procura&ccedil;&otilde;es a outro delegado de seu DI ou enviar seu voto por escrito ao presidente da CG.&nbsp; </p>
                <p>Artigo 12.&nbsp;Compete exclusivamente &agrave;s CGs:&nbsp; </p>
                <p>I. Ordinariamente, nos 04 (quatro) primeiros meses de cada ano, deliberar sobre as demonstra&ccedil;&otilde;es financeiras, eleger os membros dos seus &oacute;rg&atilde;os e indicar os respectivos membros do CE do DI acima, nos termos do Artigo 13, &sect; 2&ordm;;&nbsp; </p>
                <p>II.&nbsp;Sempre que houver uma elei&ccedil;&atilde;o, definir os candidatos do respectivo ente federativo e, se for o caso, definir o voto dos delegados do DI na CG correspondente do DI acima;&nbsp; </p>
                <p>III.&nbsp;Alterar o estatuto e programa do DI;&nbsp; </p>
                <p>IV.&nbsp;Tornar definitiva a suspens&atilde;o e substituir o Presidente do CE e sua Executiva;&nbsp; </p>
                <p>V.&nbsp;Autorizar a cria&ccedil;&atilde;o ou dissolver o DI abaixo ou o respectivo DI e definir a destina&ccedil;&atilde;o de seu patrim&ocirc;nio; e&nbsp; </p>
                <p>VI.&nbsp;Deliberar sobre qualquer assunto relevante, conforme decidido pelo CE.&nbsp; </p>
                <p>&sect; 1&ordm;.&nbsp;Altera&ccedil;&otilde;es nos programa requerem aprova&ccedil;&atilde;o de 75% (setenta e cinco por cento) dos respectivos filiados com direito a voto;&nbsp; </p>
                <p>&sect; 2&ordm;.&nbsp;As CGs ser&atilde;o convocadas pelo Presidente do CE, com pelo menos 30 (trinta) dias de anteced&ecirc;ncia nas Nacionais, explicitando-se, na convoca&ccedil;&atilde;o, a pauta, local, data, hor&aacute;rios de in&iacute;cio e fim e, quando for o caso, a data e hor&aacute;rios da reuni&atilde;o pr&eacute;via e a quantidade de delegados de cada DI. As CGs ser&atilde;o instaladas, em primeira convoca&ccedil;&atilde;o, com a presen&ccedil;a de 25% (vinte e cinco por cento) dos membros com direito a voto. Salvo previs&atilde;o em contr&aacute;rio, as vota&ccedil;&otilde;es da CG ser&atilde;o decididas por maioria simples, desconsiderados os votos brancos e nulos.&nbsp;&nbsp; </p>
                <h4>Comit&ecirc; Executivo. </h4>
                <p>Artigo 13.&nbsp;Cada CE possuir&aacute; at&eacute; 53 (cinq&uuml;enta e tr&ecirc;s) membros, com mandato de 02 (dois) anos, com inicio no dia seguinte &agrave; confirma&ccedil;&atilde;o de sua elei&ccedil;&atilde;o, e ter&aacute; compet&ecirc;ncia para:&nbsp; </p>
                <p>I.&nbsp;Aprovar regras gerais para a organiza&ccedil;&atilde;o do DI, incluindo procedimentos para as CGs e escolha de candidatos;&nbsp; </p>
                <p>II.&nbsp;Ratificar ou rejeitar integralmente as regras propostas pelo CF e CJ;&nbsp; </p>
                <p>III.&nbsp;Suspender por qualquer motivo o Presidente do CE;&nbsp; </p>
                <p>IV.&nbsp;Ouvido o CJ, decidir sobre alian&ccedil;a eleitoral;&nbsp; </p>
                <p>V.&nbsp;Propor altera&ccedil;&otilde;es no estatuto e no programa do DI; e&nbsp; </p>
                <p>VI.&nbsp;Requisitar, motivadamente, a convoca&ccedil;&atilde;o da CG para deliberar sobre quaisquer assuntos.&nbsp; </p>
                <p>&sect; 1&ordm;.&nbsp;O Presidente, o Vice-Presidente e o Secret&aacute;rio do CE s&atilde;o eleitos concorrendo na mesma chapa e n&atilde;o poder&atilde;o ser reeleitos; j&aacute; os demais membros ser&atilde;o eleitos individualmente pela CG. Em at&eacute; 05 (cinco) dias da posse o Presidente indicar&aacute;, dentre os demais membros do CE, o Tesoureiro e o Corregedor, que dever&atilde;o receber o aval, respectivamente, do CF e do CJ. Presidente, Vice-Presidente, Secret&aacute;rio, Tesoureiro e Corregedor do CE constituir&atilde;o a Executiva do DI.&nbsp; </p>
                <p>&sect; 2&ordm;.&nbsp;Nas CGs indiretas, os DIs imediatamente abaixo poder&atilde;o eleger (a) 01 (um) membro do CE para cada 04% (quatro por cento) da arrecada&ccedil;&atilde;o obtida com anuidades pelo DI em quest&atilde;o, paga por filiados ao DI inferior; e (b) 01 (um) membro para cada 04% (quatro por cento) dos votos obtidos por candidatos do LIBER em elei&ccedil;&otilde;es proporcionais da unidade da federa&ccedil;&atilde;o do DI em quest&atilde;o, na &aacute;rea correspondente &agrave;quele DI inferior; sempre arredondado para baixo. Os DIs poder&atilde;o se compor para aproveitar as sobras de seus votos.&nbsp; </p>
                <p>&sect; 3&ordm;.&nbsp;As reuni&otilde;es do CE ser&atilde;o convocadas pelo Presidente da CE, com pelo menos 10 (dez) dias de anteced&ecirc;ncia e ser&atilde;o instaladas com a presen&ccedil;a da maioria dos seus membros. Salvo previs&atilde;o em contr&aacute;rio, as vota&ccedil;&otilde;es dos CEs ser&atilde;o decididas por maioria simples, desconsiderados os votos brancos e nulos. Os membros da CE poder&atilde;o outorgar procura&ccedil;&otilde;es a outro membro ou enviar seu voto por escrito ao presidente da CE.&nbsp;&sect; 4&ordm;.&nbsp;&nbsp;&nbsp; Os membros da CE permanente impedidos ser&atilde;o repostos na pr&oacute;xima CG Ordin&aacute;ria e os novos membros completar&atilde;o o mandato vacante. Caber&aacute; ao DI que indicou o membro impedido indicar seu substituto.&nbsp; </p>
                <p>&sect; 5&ordm;.&nbsp;As reuni&otilde;es do CE poder&atilde;o ser assistidas por qualquer filiado.&nbsp; </p>
                <p>Artigo 14.&nbsp;Compete ao Presidente:&nbsp; </p>
                <p>I.&nbsp;A administra&ccedil;&atilde;o ordin&aacute;ria do DI;&nbsp; </p>
                <p>II. Convocar e presidir as CGs e as reuni&otilde;es do CE;&nbsp; </p>
                <p>III.&nbsp;Com o aval da CF ou CJ, respectivamente, nomear e substituir o Tesoureiro e o Corregedor;&nbsp; </p>
                <p>IV.&nbsp;Representar o DI, ativa ou passivamente, em ju&iacute;zo ou fora dele, pessoalmente ou por procuradores, conforme aqui previsto.&nbsp; </p>
                <p>Par&aacute;grafo &Uacute;nico.&nbsp;O Presidente ser&aacute; responsabilizado sempre que, por dolo ou culpa, a&ccedil;&otilde;es ou omiss&otilde;es no exerc&iacute;cio de sua fun&ccedil;&atilde;o trouxerem preju&iacute;zo ao LIBER ou &agrave; sua imagem.&nbsp; </p>
                <p>Artigo 15.&nbsp;Compete ao Vice-Presidente:&nbsp; </p>
                <p>I.&nbsp;Substituir o Presidente em casos de impedimentos;&nbsp; </p>
                <p>II.&nbsp;Realizar as obriga&ccedil;&otilde;es do Presidente no caso de in&eacute;rcia deste; e&nbsp; </p>
                <p>III.&nbsp;Exercer as demais atribui&ccedil;&otilde;es que lhes sejam conferidas pelo Presidente.&nbsp; </p>
                <p>&sect; 1&ordm;.&nbsp;No caso do inciso II acima, o Vice-Presidente iniciar&aacute; uma representa&ccedil;&atilde;o contra o Presidente no CJ para que se avaliem os motivos da in&eacute;rcia.&nbsp; </p>
                <p>&sect; 2&ordm;.&nbsp;O Vice-Presidente ser&aacute; responsabilizado sempre que, por dolo ou culpa, n&atilde;o cumprir suas fun&ccedil;&otilde;es, especialmente no que trata o inciso II acima.&nbsp; </p>
                <p>Artigo 16.&nbsp;Compete ao Secret&aacute;rio:&nbsp; </p>
                <p>I.&nbsp;Participar de e registrar todas as reuni&otilde;es do CE e CGs;&nbsp; </p>
                <p>II.&nbsp;Manter as informa&ccedil;&otilde;es sobre filiados vinculados ao seu DI e, quando for o caso, repass&aacute;-las ao DI superior, resguardando o sigilo sobre informa&ccedil;&otilde;es privadas;&nbsp; </p>
                <p>III.&nbsp;Supervisionar os demais registros do DI e exercer as atribui&ccedil;&otilde;es inerentes; e&nbsp; </p>
                <p>IV.&nbsp;Salvo no caso de documentos sigilosos ou privados, zelar pela ampla divulga&ccedil;&atilde;o de seus registros e fornecer c&oacute;pias destes sempre que solicitado por qualquer filiado, exigindo apenas o necess&aacute;rio para cobrir os custos.&nbsp; </p>
                <p>&sect; 1&ordm;.&nbsp;No caso de impedimento tempor&aacute;rio do Secret&aacute;rio o Vice-Presidente assumira suas fun&ccedil;&otilde;es. No caso de impedimento permanente o Presidente indicar&aacute; o novo Secret&aacute;rio dentre os membros da CE, o qual dever&aacute; receber o aval da CF e do CJ.&nbsp; </p>
                <p>&sect; 2&ordm;.&nbsp;O Secret&aacute;rio ser&aacute; responsabilizado sempre que, por dolo ou culpa, houver informa&ccedil;&otilde;es incorretas em seus registros ou ocorrer a divulga&ccedil;&atilde;o de dados sigilosos ou privados.&nbsp; </p>
                <p>Artigo 17.&nbsp;Compete ao Tesoureiro:&nbsp; </p>
                <p>I.&nbsp;Manter a contabilidade e elaborar as demonstra&ccedil;&otilde;es financeiras do exerc&iacute;cio encerrado, conforme os princ&iacute;pios de contabilidade geralmente aceitos no Brasil e a legisla&ccedil;&atilde;o aplic&aacute;vel;&nbsp; </p>
                <p>II.&nbsp;Controlar o pagamento e inadimpl&ecirc;ncia dos filiados;&nbsp; </p>
                <p>III.&nbsp;Assinar, com o Presidente, quaisquer documentos que impliquem responsabilidade financeira do DI; e&nbsp; </p>
                <p>IV.&nbsp;Informar o CF periodicamente e sempre que solicitado sobre a situa&ccedil;&atilde;o financeira e os gastos DI e auxiliar o CF em suas atribui&ccedil;&otilde;es.&nbsp; </p>
                <p>&sect; 1&ordm;.&nbsp;As demonstra&ccedil;&otilde;es financeiras anuais dever&atilde;o indicar com clareza a participa&ccedil;&atilde;o de cada DI inferior na arrecada&ccedil;&atilde;o com anuidades obtida pelo DI em quest&atilde;o. Esta participa&ccedil;&atilde;o ser&aacute; utilizada para a os c&aacute;lculos indicados no item (a) do Artigo 11&ordm;, &sect; 2&ordm; e do Artigo 13, &sect; 2&ordm;.&nbsp; </p>
                <p>&sect; 2&ordm;.&nbsp;O Tesoureiro ser&aacute; responsabilizado sempre que, por dolo ou culpa, deixar de prestar informa&ccedil;&otilde;es relevantes ao CF, houver informa&ccedil;&otilde;es incorretas em seus registros ou o DI sofrer preju&iacute;zo financeiro.&nbsp; </p>
                <p>Artigo 18.&nbsp;Compete ao Corregedor:&nbsp; </p>
                <p>I.&nbsp;Supervisionar o andamento das atividades relevantes da Executiva;&nbsp; </p>
                <p>II.&nbsp;Aconselhar a Executiva em quest&otilde;es que envolvam a &eacute;tica e disciplina partid&aacute;ria;&nbsp; </p>
                <p>III.&nbsp;Exercer a presid&ecirc;ncia do DI no impedimento do Presidente e do Vice-Presidente;&nbsp; </p>
                <p>IV.&nbsp;Assinar, com o Presidente, quaisquer documentos que impliquem vincula&ccedil;&atilde;o pol&iacute;tica do LIBER com outros partidos; e&nbsp; </p>
                <p>V.&nbsp;Informar o CJ periodicamente e sempre que solicitado sobre as atividades exercidas pelo CE e auxiliar o CJ em suas atribui&ccedil;&otilde;es.&nbsp; </p>
                <p>Par&aacute;grafo &Uacute;nico.&nbsp;O Corregedor ser&aacute; responsabilizado sempre que, por dolo ou culpa, deixar de prestar informa&ccedil;&otilde;es relevantes ao CJ ou o DI sofrer dano &agrave; sua imagem.&nbsp;&nbsp; </p>
                <h4>Comit&ecirc; Fiscal. </h4>
                <p>Artigo 19.&nbsp;O CF ter&aacute; 03 (tr&ecirc;s) membros, com mandato de 03 (tr&ecirc;s) anos eleitos, um a cada ano, pela CG, e ter&aacute; compet&ecirc;ncia para:&nbsp; </p>
                <p>I.&nbsp;Acompanhar a movimenta&ccedil;&atilde;o financeira do DI;&nbsp; </p>
                <p>II.&nbsp;Auditar e opinar sobre as demonstra&ccedil;&otilde;es financeiras anuais;&nbsp; </p>
                <p>III.&nbsp;Auditar, organizar e enviar ao &oacute;rg&atilde;o estatal competente e ao DI superior, toda a presta&ccedil;&atilde;o de contas do DI;&nbsp; </p>
                <p>IV.&nbsp;Acompanhar e orientar a atua&ccedil;&atilde;o dos candidatos, parlamentares e executivos do &acirc;mbito do DI sobre o uso de recursos e provocar o CJ no caso de irregularidades; e&nbsp; </p>
                <p>V.&nbsp;Elaborar e propor &agrave; CE regras sobre assuntos de sua compet&ecirc;ncia, como o uso de recursos, presta&ccedil;&atilde;o de contas e sua estrutura interna.&nbsp; </p>
                <p>&sect; 1&ordm;.&nbsp;O presidente do CF ser&aacute; escolhido por seus pares, para o mandato de 01 (um) ano.&nbsp; </p>
                <p>&sect; 2&ordm;.&nbsp;Em impedimento permanente de membro do CF, os demais indicar&atilde;o substituto provis&oacute;rio, que ocupar&aacute; o cargo at&eacute; a pr&oacute;xima CG Ordin&aacute;ria, a qual eleger&aacute; o substituto para completar o mandato vacante. Caso a maioria dos membros esteja permanentemente impedida (com ou sem substitutos provis&oacute;rios) ser&aacute; convocada imediatamente uma CG para eleger os substitutos permanentes.&nbsp; </p>
                <p>&sect; 3&ordm;.&nbsp;As decis&otilde;es do CF s&atilde;o tomadas por maioria dos votos, cabendo ao seu presidente o voto de desempate. As demais regras para reuni&atilde;o ser&atilde;o definidas da forma prevista neste Estatuto.&nbsp;&nbsp; </p>
                <h4>Comit&ecirc; Julgador. </h4>
                <p>&nbsp;Artigo 20.&nbsp;O CJ ter&aacute; 05 (cinco) membros, com mandato de 05 (cinco) anos eleitos, um a cada ano, pela CG, e ter&aacute; compet&ecirc;ncia para:&nbsp; </p>
                <p>I.&nbsp;Sempre que provocado por qualquer interessado, julgar conflitos internos do DI e aplicar san&ccedil;&otilde;es;&nbsp; </p>
                <p>II.&nbsp;Analisar previamente candidaturas a cargos p&uacute;blicos, com o objetivo de impedir o aparelhamento do partido ou seu uso para obter cargos p&uacute;blicos independentemente do compromisso com as id&eacute;ias libert&aacute;rias.&nbsp; </p>
                <p>III.&nbsp;Analisar e opinar sobre as propostas de alian&ccedil;a partid&aacute;ria;&nbsp; </p>
                <p>IV. Acompanhar e orientar a atua&ccedil;&atilde;o dos filiados ao DI no tocante &agrave; coer&ecirc;ncia com o Programa e os princ&iacute;pios libert&aacute;rios; e&nbsp; </p>
                <p>V. Elaborar e propor &agrave; CE regras sobre assuntos de sua compet&ecirc;ncia, como a organiza&ccedil;&atilde;o de julgamentos, aplica&ccedil;&atilde;o de san&ccedil;&otilde;es e sua estrutura interna.&nbsp; </p>
                <p>&sect; 1&ordm;.&nbsp;O presidente do CJ ser&aacute; escolhido por seus pares, para o mandato de 01 (um) ano.&nbsp; </p>
                <p>&sect; 2&ordm;.&nbsp;Em impedimento permanente de membro do CJ, os demais indicar&atilde;o substituto provis&oacute;rio, que ocupar&aacute; o cargo at&eacute; a pr&oacute;xima CG Ordin&aacute;ria, a qual eleger&aacute; o substituto para completar o mandato vacante. Caso a maioria dos membros esteja permanentemente impedida (com ou sem substitutos provis&oacute;rios) ser&aacute; convocada imediatamente uma CG para eleger os substitutos permanentes.&nbsp; </p>
                <p>&sect; 3&ordm;.&nbsp;No caso de impedimento permanente do Presidente e do Vice-Presidente do CE o presidente do CJ imediatamente convocar&aacute; uma CG para a elei&ccedil;&atilde;o da nova Executiva.&nbsp; </p>
                <p>&sect; 4&ordm;. As decis&otilde;es do CJ s&atilde;o tomadas por maioria dos votos, cabendo ao seu presidente o voto de desempate. As demais regras para reuni&atilde;o ser&atilde;o definidas da forma prevista neste Estatuto.&nbsp;&nbsp; </p>
                <h4>Disciplina e Fidelidade Partid&aacute;ria </h4>
                <p>Artigo 21.&nbsp;Observadas os estatutos dos demais DIs, as normas e demais disposi&ccedil;&otilde;es propostas pelo CJ e aprovadas pelo CE, os processos disciplinares do LIBER ser&atilde;o regidos pelo disposto neste cap&iacute;tulo.&nbsp; </p>
                <p>Artigo 22.&nbsp;Quando provado, em processo conduzido pelo CJ, garantida ampla defesa, que um filiado praticou qualquer das atividades indicadas abaixo, o filiado sofrer&aacute; a medida disciplinar cab&iacute;vel.&nbsp; </p>
                <p>I.&nbsp;Desrespeito &agrave; &eacute;tica libert&aacute;ria, &agrave;s diretrizes program&aacute;ticas, exerc&iacute;cio de atividade pol&iacute;tica contr&aacute;ria ao Programa ou qualquer forma de promo&ccedil;&atilde;o do Estado e de suas compet&ecirc;ncias;&nbsp; </p>
                <p>II.&nbsp;Descumprimento do Estatuto ou desobedi&ecirc;ncia &agrave; orienta&ccedil;&atilde;o fixada por &oacute;rg&atilde;o competente;&nbsp; </p>
                <p>III.&nbsp;Promo&ccedil;&atilde;o de filia&ccedil;&otilde;es em bloco que objetivem o predom&iacute;nio de pessoas ou grupos estranhos ou sem afinidade com o LIBER;&nbsp; </p>
                <p>IV.&nbsp;Pagamento coletivo da contribui&ccedil;&atilde;o de filiados;&nbsp; </p>
                <p>V.&nbsp;Desrespeito, agress&atilde;o ou formula&ccedil;&atilde;o de den&uacute;ncias infundadas contra outros filiados;&nbsp; </p>
                <p>VI.&nbsp;Obstru&ccedil;&atilde;o ao funcionamento de qualquer &oacute;rg&atilde;o do LIBER;&nbsp; </p>
                <p>VII.&nbsp;Abandono, sem motivo justificado por escrito, dos cargos e fun&ccedil;&otilde;es partid&aacute;rias;&nbsp; </p>
                <p>VIII.&nbsp;Improbidade no exerc&iacute;cio de cargo p&uacute;blico, fun&ccedil;&atilde;o administrativa ou em &oacute;rg&atilde;o partid&aacute;rio;&nbsp; </p>
                <p>IX.&nbsp;Infidelidade partid&aacute;ria, nos termos da lei e deste Estatuto; e&nbsp; </p>
                <p>X.&nbsp;Salvo autoriza&ccedil;&atilde;o expressa do CE correspondente, apoiar governos que contrariem os princ&iacute;pios do LIBER, principalmente atrav&eacute;s do exerc&iacute;cio de cargo pol&iacute;ticos.&nbsp; </p>
                <p>Par&aacute;grafo &Uacute;nico.&nbsp;A infidelidade n&atilde;o ser&aacute; pun&iacute;vel, sempre que for motivada, de forma fundamentada, por viola&ccedil;&atilde;o ao inciso I acima realizada por &oacute;rg&atilde;o do LIBER de um DI igual ou superior &agrave;quele prejudicado pela infidelidade.&nbsp; </p>
                <p>Artigo 23.&nbsp;O CJ definir&aacute; a medida disciplinar cab&iacute;vel, dentre as listadas abaixo, conforme a severidade da infra&ccedil;&atilde;o, os danos causados ao LIBER e a primariedade do r&eacute;u.&nbsp; </p>
                <p>&sect; 1&ordm;.&nbsp;S&atilde;o medidas disciplinares:&nbsp; </p>
                <p>I. Advert&ecirc;ncia p&uacute;blica;&nbsp; </p>
                <p>II.&nbsp;Suspens&atilde;o de 01 (um) a 12 (doze) meses, a qual suspende os direitos do filiado indicados nos incisos I a III do Artigo 4&ordm;;&nbsp; </p>
                <p>III.&nbsp;Destitui&ccedil;&atilde;o de fun&ccedil;&atilde;o em &oacute;rg&atilde;o partid&aacute;rio;&nbsp; </p>
                <p>IV.&nbsp;Perda das prerrogativas, cargos ou fun&ccedil;&otilde;es que exer&ccedil;a em decorr&ecirc;ncia da representa&ccedil;&atilde;o e da propor&ccedil;&atilde;o partid&aacute;ria, na respectiva Casa Legislativa;&nbsp; </p>
                <p>V.&nbsp;Perda de mandato; e&nbsp; </p>
                <p>VI. Desligamento, que acarretar&aacute; no afastamento definitivo do filiado ao LIBER.&nbsp; </p>
                <p>&sect; 2&ordm;. O CJ poder&aacute; cumular as medidas disciplinares.&nbsp; </p>
                <p>&sect; 3&ordm;. As decis&otilde;es do CJ ser&atilde;o fundamentadas e, quando for o caso, dever&atilde;o explicitar seu prazo e/ou condi&ccedil;&atilde;o de revoga&ccedil;&atilde;o.&nbsp; </p>
                <p>Artigo 24.&nbsp;Qualquer filiado prejudicado poder&aacute; ou, sempre que tiver ci&ecirc;ncia, o corregedor dever&aacute; iniciar o processo disciplinar mediante representa&ccedil;&atilde;o contra o infrator na CJ da menor subdivis&atilde;o competente.&nbsp; </p>
                <p>Artigo 25. Salvo quando a puni&ccedil;&atilde;o se limitar a advert&ecirc;ncia p&uacute;blica, o prejudicado, dentro de 15 (quinze) dias, poder&aacute; recorrer ao CJ imediatamente superior, o qual dever&aacute; decidir nos limites do questionamento.&nbsp; </p>
                <p>&sect; 1&ordm;. Se a senten&ccedil;a for confirmada n&atilde;o caber&aacute; novo recurso; do contr&aacute;rio, o prejudicado ou o corregedor do DI contrariado poder&aacute; recorrer ao CJ acima do que proferiu a segunda decis&atilde;o e este decidir&aacute; definitivamente.&nbsp; </p>
                <p>&sect; 2&ordm;. A decis&atilde;o deste &uacute;ltimo CJ ser&aacute; limitada pelas anteriores, de forma que n&atilde;o ser&aacute; poss&iacute;vel aplicar novas penas, ou proferir senten&ccedil;as mais gravosas ou mais brandas que as aplicadas pelas CJs inferiores.&nbsp; </p>
                <p>&sect; 3&ordm;. Caso n&atilde;o haja CJ acima dispon&iacute;vel, caber&aacute; pedido de reconsidera&ccedil;&atilde;o ao &uacute;ltimo CJ.&nbsp;&nbsp; </p>
                <h4>Fontes de Recursos </h4>
                <p>Artigo 26. As fontes de recursos do LIBER s&atilde;o:&nbsp; </p>
                <p>I.&nbsp;Anuidades pagas pelos filiados;&nbsp; </p>
                <p>II.&nbsp;Doa&ccedil;&otilde;es, observada a legisla&ccedil;&atilde;o;&nbsp; </p>
                <p>III.&nbsp;Rendimentos decorrentes de sua atividade ou da aplica&ccedil;&atilde;o de seus recursos; e&nbsp; </p>
                <p>IV.&nbsp;Repasses p&uacute;blicos que o LIBER seja obrigado a receber.&nbsp;Par&aacute;grafo &Uacute;nico.&nbsp;&nbsp; As doa&ccedil;&otilde;es ser&atilde;o feitas diretamente ao DI favorecido e n&atilde;o contar&atilde;o para fins item (a) do Artigo 11&ordm;, &sect; 2&ordm; e do Artigo 13, &sect; 2&ordm;.&nbsp; </p>
                <p>Artigo 27.&nbsp;O valor das anuidades ser&aacute; definido pela CG de cada DI da menor subdivis&atilde;o poss&iacute;vel e ser&aacute; igual para todos os filiados ao DI em quest&atilde;o, permitido apenas abatimentos para menores de 24 (vinte e quatro) anos.&nbsp;Par&aacute;grafo &Uacute;nico.&nbsp;&nbsp; O n&atilde;o pagamento da anuidade n&atilde;o ser&aacute; motivo para inicio de procedimento administrativo e seus efeitos n&atilde;o ser&atilde;o considerados para fins de reincid&ecirc;ncia.&nbsp; </p>
                <p>Artigo 28.&nbsp;A CG de cada DI que englobe outros DIs dever&aacute; definir o percentual da arrecada&ccedil;&atilde;o com anuidades dos filiados dos DIs englobados que esse receber&aacute; e, quando houver filiados n&atilde;o vinculados a DIs inferiores, tamb&eacute;m dever&aacute; definir o valor da anuidade a ser paga por estes filiados.&nbsp; </p>
                <p>&sect; 1&ordm;. O percentual definido dever&aacute; ser igual para todos os DIs englobados e n&atilde;o poder&aacute; ser superior a 50% (cinq&uuml;enta por cento) da arrecada&ccedil;&atilde;o total com anuidades dos DIs imediatamente inferiores.&nbsp; </p>
                <p>&sect; 2&ordm;.&nbsp;Quando for o caso, a anuidade cobrada por um DI superior, n&atilde;o poder&aacute; ser mais gravosa que a maior anuidade dos DIs imediatamente inferiores. Caso a maior anuidade de um DI imediatamente inferior seja reduzida, a anuidade do DI superior ser&aacute; reduzida sem necessidade uma CG.&nbsp; </p>
                <p>Artigo 29.&nbsp;As anuidades sempre ser&atilde;o pagas ao DI da menor subdivis&atilde;o poss&iacute;vel e este repassar&aacute; a porcentagem correspondente de sua arrecada&ccedil;&atilde;o com filiados ao DI imediatamente superior.&nbsp; </p>
                <p>Artigo 30.&nbsp;Os repasses p&uacute;blicos que o LIBER &eacute; obrigado a receber, ser&atilde;o divididos em duas partes, uma incorporada ao patrim&ocirc;nio do DI em quest&atilde;o e outra distribu&iacute;da entre os DIs imediatamente inferiores, na propor&ccedil;&atilde;o dos votos obtidos por eles na &uacute;ltima elei&ccedil;&atilde;o proporcional do DI em quest&atilde;o.&nbsp; </p>
                <p>&sect; 1&ordm;. Nos termos da legisla&ccedil;&atilde;o vigente o DI Nacional dever&aacute; direcionar o valor correspondente para a cria&ccedil;&atilde;o e manuten&ccedil;&atilde;o de instituto ou funda&ccedil;&atilde;o de pesquisa e de doutrina&ccedil;&atilde;o e educa&ccedil;&atilde;o pol&iacute;tica.&nbsp; </p>
                <p>&sect; 2&ordm;. A parcela repassada aos DIs inferiores ser&aacute; maior do que a retida e ser&aacute; definida em CG do DI correspondente.&nbsp; </p>
                <p>Artigo 31. Toda a contabilidade do LIBER ser&aacute; realizada conforme os termos definidos pelo CF, os princ&iacute;pios de contabilidade geralmente aceitos no Brasil, a legisla&ccedil;&atilde;o aplic&aacute;vel e as recomenda&ccedil;&otilde;es dos &oacute;rg&atilde;os estatais competentes.&nbsp; </p>
                <p>Artigo 32.&nbsp;O presidente do CF submeter&aacute; aos &oacute;rg&atilde;os estatais competentes, nos prazos determinados em lei, o balan&ccedil;o cont&aacute;bil, a presta&ccedil;&atilde;o de contas e toda a documentos exigida por lei.&nbsp; </p>
                <h4>Disposi&ccedil;&otilde;es Transit&oacute;rias. </h4>
                <p>Artigo 33.&nbsp;As exig&ecirc;ncias de 12 (doze) e 24 (vinte e quatro) meses de filia&ccedil;&atilde;o, previstos, respectivamente nos &sect; 1&ordm; e &sect; 2&ordm;, Artigo 4 acima, n&atilde;o se aplicam para indiv&iacute;duos filiados at&eacute; 06 (seis) meses antes da obten&ccedil;&atilde;o do registro do partido no Tribunal Superior Eleitoral.&nbsp; </p>
                <p>Artigo 34.&nbsp;At&eacute; a primeira elei&ccedil;&atilde;o proporcional do DI correspondente em que participem candidatos do LIBER:&nbsp; </p>
                <p>I.&nbsp;N&atilde;o ser&atilde;o indicados delegados ou membros do CE em decorr&ecirc;ncia do item (b) do Artigo 11&ordm;, &sect; 2&ordm; e do Artigo 13, &sect; 2&ordm;, de forma que estes &oacute;rg&atilde;os ter&atilde;o a metade de seus membros; e&nbsp; </p>
                <p>II. Os recursos de que trata o Artigo 28 ser&atilde;o distribu&iacute;dos conforme a propor&ccedil;&atilde;o de filiados em dia com suas anuidades.</p>                </td>
            </tr>
          </table>            <br>            </td>
        </tr>
    </table></td>
    <td valign="top" width="300">
      <table width="100%"  border="0" cellspacing="3" cellpadding="5">
        <tr>
          <td><table width="300" height="205"  border="0" align="center" cellpadding="0" cellspacing="0" background="layout/images/box.gif">
              <tr>
                <td width="7" rowspan="3" valign="top">&nbsp;</td>
                <td height="50" colspan="2"><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">TENHA ATITUDE</font></strong></td>
                <td width="8" rowspan="3" valign="top">&nbsp;</td>
              </tr>
              <tr>
                <td width="50%"><p align="left"><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><strong>&nbsp;&nbsp;<a href="filiacao.htm">Filie-se</a><br>
                            <br>
&nbsp;&nbsp;<a href="doacao.htm">Contribua</a><br>
                    <br>
&nbsp;&nbsp;<a href="divulgacao.htm">Divulgue</a></strong></font></p></td>
                <td width="50%"><div align="left"><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><strong>&nbsp;&nbsp;<a href="ideias.htm">Conhe&ccedil;a mais</a><br>
                            <br>
&nbsp;&nbsp;<a href="amigos.htm">Convide amigos</a><br>
                    <br>
&nbsp;&nbsp;<a href="forum.htm">Debata</a></strong></font></div></td>
              </tr>
              <tr>
                <td height="30" colspan="2">&nbsp;</td>
              </tr>
            </table>
              <br>
              <table width="300"  border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="5" rowspan="2" valign="top"><img src="layout/images/left_border.gif" width="5" height="150"></td>
                  <td height="50" colspan="2" background="layout/images/top_border.gif"><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">LOGIN</font></strong></td>
                  <td width="5" rowspan="2" valign="top"><img src="layout/images/right_border.gif" width="5" height="150"></td>
                </tr>
                <tr>
                  <td colspan="2"><form name="login" method="post" action="">
                      <div align="center"><font size="1" face="Verdana, Arial, Helvetica, sans-serif"> usu&aacute;rio:
                            <input name="user" type="text" id="user" size="20">
                            <br>
                      senha:
                      <input name="pass" type="password" id="pass" size="15">
                      <input name="login" type="submit" id="login" value="entrar">
                      <br>
                      <br>
                      Cadastre-se </font> </div>
                  </form></td>
                </tr>
              </table>
              <br>
              <table width="300"  border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="5" rowspan="2" valign="top"><img src="layout/images/left_border.gif" width="5" height="150"></td>
                  <td height="50" colspan="2" background="layout/images/top_border.gif"><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><strong>REDES SOCIAIS</strong></font></td>
                  <td width="5" rowspan="2" valign="top"><img src="layout/images/right_border.gif" width="5" height="150"></td>
                </tr>
                <tr>
                  <td colspan="2"><p align="center"><img src="layout/images/redes.gif" border="0" usemap="#redes">
                          <map name="redes">
                            <area shape="rect" coords="115,3,143,33" href="http://www.formspring.me/Libertarios" target="_blank" alt="formspring">
                            <area shape="rect" coords="84,3,110,33" href="http://www.youtube.com/user/CANALPLIBER" target="_blank" alt="youtube">
                            <area shape="rect" coords="53,3,81,33" href="http://www.facebook.com/pages/Libertarios/131689188332" target="_blank" alt="facebook">
                            <area shape="rect" coords="28,3,52,33" href="http://twitter.com/sejaliber" target="_blank" alt="twitter">
                            <area shape="rect" coords="3,3,27,33" href="http://www.orkut.com.br/Main#Community?cmm=6654405" target="_blank" alt="orkut">
                          </map>
                  </p></td>
                </tr>
              </table>
          </td>
        </tr>
    </table></td>
  </tr>
</table>
<table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td background="layout/images/bg_bottom.gif"><table width="960"  border="0" align="center" cellpadding="2" cellspacing="3" background="layout/images/bg_bottom.gif">
      <tr>
        <td valign="top"><p><font color="#FFFFFF" size="1" face="Verdana, Arial, Helvetica, sans-serif">O <strong>Libert&aacute;rios (LIBER)</strong> &eacute; um partido pol&iacute;tico que tem como ideal defender a liberdade ao inv&eacute;s da coer&ccedil;&atilde;o. Para tanto &eacute; necess&aacute;rio discutir e mostrar que o excesso de aparato estatal &eacute; ineficiente e coage os indiv&iacute;duos a seguirem suas vidas pelo caminho que considerarem o melhor.<img src="layout/images/liber_hand.png" width="183" height="210" align="right"><br>
                  <br>
        Todo in&iacute;cio de agress&atilde;o para com n&atilde;o agressores &eacute; um absurdo. Contra a prefer&ecirc;ncia pela agress&atilde;o, que mata, rouba, prende e coage, est&aacute; a prefer&ecirc;ncia pela liberdade.<br>
        <br>
            </font><font color="#FFFFFF" size="1" face="Verdana, Arial, Helvetica, sans-serif">Este &eacute; o <strong>LIBER</strong>, que prop&otilde;e Liberdade Econ&ocirc;mica e Liberdade Individual, pois nenhum indiv&iacute;duo ou grupo de indiv&iacute;duos tem a legitimidade de mandar na vida de outros.<br>
            <br>
            <br>
        | <a href="mapadosite.htm" class="rodape">Mapa do Site</a> | <a href="privacidade.htm" class="rodape">Pol&iacute;tica de Privacidade</a> | <a href="admin.htm" class="rodape">Administra&ccedil;&atilde;o</a> | <a href="contato.htm" class="rodape">Contato</a> |</font></p></td>
        <td width="20%" valign="top"><font color="#FFFFFF" size="1" face="Verdana, Arial, Helvetica, sans-serif"> Nosso partido <br>
      - <a href="historia.htm" class="rodape">Hist&oacute;ria</a><br>
      - <a href="filosofia.htm" class="rodape">Filosofia</a><br>
      - <a href="programa.htm" class="rodape">Programa</a><br>
      - <a href="estatuto.htm" class="rodape">Estatuto</a><br>
      - <a href="liderancas.htm" class="rodape">Lideran&ccedil;as Nacionais</a><br>
      - <a href="contas.htm" class="rodape">Presta&ccedil;&atilde;o de contas</a><br>
	  <br>
      Ideias <br>
      - <a href="blog.htm" class="rodape">Blog</a><br>
      - <a href="artigos.htm" class="rodape">Artigos</a><br>
      - <a href="ideia_individual.htm" class="rodape">Direitos individuais</a><br>
      - <a href="ideia_economia.htm" class="rodape">Com&eacute;rcio e economia</a><br>
      - <a href="ideia_domestico.htm" class="rodape">Assuntos dom&eacute;sticos</a><br>
      - <a href="ideia_exterior.htm" class="rodape">Rela&ccedil;&otilde;es exteriores</a><br>
      <br>
      <a href="diretorios.htm" class="rodape">Diret&oacute;rios</a></font></td>
        <td width="20%" valign="top"><font color="#FFFFFF" size="1" face="Verdana, Arial, Helvetica, sans-serif"> Participe <br>
      - <a href="cadastro.htm" class="rodape">Cadastre-se</a><br>
      - <a href="filiacao.htm" class="rodape">Filie-se</a><br>
      - <a href="doação.htm" class="rodape">Fa&ccedil;a uma doa&ccedil;&atilde;o</a><br>
      - <a href="divulgacao.htm" class="rodape">Divulgue</a><br>
      - <a href="newsletter.htm" class="rodape">Newsletter</a><br>
      - <a href="liber500.htm" class="rodape">Liber 500</a><br>
      - <a href="forum.htm" class="rodape">F&oacute;rum</a><br>
      - <a href="contato.htm" class="rodape">Contato</a><br>
      <br>
      M&iacute;dia <br>
      - <a href="imprensa.htm" class="rodape">Na imprensa</a><br>
      - <a href="jornalistas.htm" class="rodape">Para jornalistas</a><br>
      - <a href="eventos.htm" class="rodape">Eventos</a><br>
      <br>
      <a href="loja.htm" class="rodape">Loja</a><br>
      <br>
      <a href="faq.htm" class="rodape">FAQ (perguntas frequ&ecirc;ntes)</a> </font></td>
      </tr>
      <tr>
        <td colspan="3" valign="top"><div align="right"><font color="#FFFFFF" size="1" face="Verdana, Arial, Helvetica, sans-serif">Copyright &copy; 2010 LIBER. Todos os direitos reservados.</font></div></td>
      </tr>
    </table></td>
  </tr>
</table>
</body> 
</html> 