



	<div class="panel">
		<h1>E-mail já existe!</h1>
		<h3>Por favor, use outro e-mail para o cadastro, ou faça o login.</h3>
	</div>



@section SideBar {

 @Html.Partial("_SideBar")  

}


