<!-- BANNER BEGIN -->
<div id="banner">
	<ul class="slides">
		<li><a href="#">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
	</ul>
	<p class="pagination">
		<span class="active">1</span> 
		<span>2</span> 
		<span>3</span>
	</p>
</div>
<!-- BANNER END -->
