<!-- BANNER BEGIN -->
<div id="banner">
	<ul class="slides">
		<li>@Helper.LinkedImage("destaque/1.jpg", "http://www.mises.org.br/EAMain.aspx", Url)</li>
		<li>@Helper.LinkedImage("destaque/2.jpg", "/Blog/Details/399", Url)</li>
		<li>@Helper.LinkedImage("destaque/3.jpg", "/Liber/Economia#Taxacao", Url)</li>
	</ul>
	<p class="pagination">
		<span class="active">1</span> 
		<span>2</span> 
		<span>3</span>
	</p>
</div>
<!-- BANNER END -->
