

@*
<div id="slides_wrapper">
   <div id="slider">

        <div class="scroll">
		    <div class="scrollContainer">
                <div class="slide" id="slide_1">
                    <p><a href="<%: Url.Action("Details", "Blog", new {id = 3}) %>">O Partido Libertários está organizando
                       esse ano em Porto Alegre sua terceira reunião nacional.</a></p>
                </div>

                <div  class="slide" id="slide_2">
                    <p><a href="<%: Url.Action("Details", "Blog", new {id = 2}) %>">O Instituto Ludwig von Mises Brasil estará
                        realizando o II Seminário de Economia Austríaca em Porto Alegre nos
                        dias 9 e 10 de abril de 2011.</a></p>
                </div>

                <div  class="slide" id="slide_3">
                    <p><a href="<%: Url.Action("Details", "Blog", new {id = 4}) %>">Forum da Liberdade está em sua
                       24ª edição esse ano. É de longe o maior Fórum de Discussões Liberais e
                       Libertárias da América Latina.</a></p>
                </div>
            </div>
        </div>

        <ul class="navigation">
		    <li class="first"><a href="#1">Reunião nacional do LIBER</a></li>
		    <li><a href="#2">II Seminário de Escola Austríaca</a></li>
		    <li class="last"><a href="#3">XXIV Fórum da Liberdade</a></li>
        </ul>

    </div>

    <br class="clear" />
</div>

<div id="destaque">
    <div class="panel">
        <h1>Reunião nacional do LIBER</h1>

        <div id="main_box">
<p>
<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="480" height="296" id="utv559625"><param name="flashvars" value="autoplay=false&amp;brand=embed&amp;cid=7912635&amp;v3=1"/><param name="allowfullscreen" value="true"/><param name="allowscriptaccess" value="always"/><param name="movie" value="http://www.ustream.tv/flash/viewer.swf"/><embed flashvars="autoplay=false&amp;brand=embed&amp;cid=7912635&amp;v3=1" width="480" height="296" allowfullscreen="true" allowscriptaccess="always" id="utv559625" name="utv_n_667101" src="http://www.ustream.tv/flash/viewer.swf" type="application/x-shockwave-flash" /></object>
</p>
<p>
<a href="http://www.ustream.tv/channel/liber-tv" class="button" style="display: block; width: 382px" target="_blank">Assista ao vivo o canal Liber TV na <strong>Ustream</strong></a>
            </p>
        </div>
        <br class="clear" />
    </div>
</div>

<div id="destaque">
    <div class="panel">
        <h1>II Seminário de Escola Austríaca</h1>

        <div id="main_box">
<p>
<iframe src="http://www.asaweb.com.br/player/m2multimidia/" name="frame" scrolling="no" frameborder="no" align="center" height="240px" width="415px">
</iframe>
</p>
<p>
<a href="http://www.m2multimidia.com.br/mises.html" class="button" style="display: block; width: 382px" target="_blank">Assista ao vivo no <b>MISES BRASIL</b></a>
            </p>
        </div>
        <br class="clear" />
    </div>
</div>
*@

