

@section HeadContent {


}



<div class="panel" id="">
    <h1>Área de acesso restrito</h1>
		<h3>É necessário ter um cadastro e fazer o login para entrar nesta página.</h3>
		<h3>Caso tenha cadastro, por favor, faça o login a direita.</h3>
		</div>


@section SideBar {

@Html.Partial("_SideBar") 

}

