

@section HeadContent {


}


	<div class="panel" id="banido">
    <h2>Seu usuário foi banido!</h2>
		<h3>provavelmente vc não é muito querido por aqui.</h3>
	</div>


@section SideBar {

	 @Html.Partial("_SideBar") 

}

