

@section HeadContent {


}


	<div class="panel" id="loginfalhou">
    <h1>Sua tentativa de login falhou!</h1>
		<h2>verifique se digitou seu usuário e sua senha corretamente.</h2>
	</div>


@section SideBar {

	 @Html.Partial("_SideBar") 

}

