@model LiberMvc.Models.Artigo



	<div class="panel">
	    <h1>Artigo</h1>

        <div class="article">
            @Html.DisplayForModel("Artigo")
        </div>

	    <p class="actions">
	    @if (Model.isOwnerOrAdmin) { 
		    @Html.ActionLink("Editar", "Edit", new { id = Model.ArtigoID }, new { @class = "button" })
	     } 
		    @Html.ActionLink("Voltar a lista", "Index", null, new { @class = "button" })

            <br class="clear" />
	    </p>

	</div>


@section RightContent {

	 @Html.Partial("_RightMenu") 

}
