



    <div class="panel" id="post">
        <h1>LIBER 500</h1>
        
        <h2>Fichas de apoio ao registro - desafio LIBER 500</h2>

        <p>O <strong>LIBER</strong> está coletando as 500 mil assinaturas necessárias para
           registrar o partido junto ao TSE e disputar eleições.
           Faça parte dessa conquista!</p>

        <p>A assinatura desta ficha não representa filiação ao partido,
           é somente um manifesto de apoio ao registro do <strong>LIBER</strong>.</p>

        <p id="ficha_btn">
            <a href="@Url.Content("~/Content/download/ficha_apoio_liber_500.pdf")" target="_blank">Baixe a ficha de apoio e o manual para coleta de assinaturas</a>
        </p>

        <h2>Dados obrigatórios:</h2>

        <ul>
            <li>Nome completo (sem abreviaturas)</li>
            <li>Nome da mãe (sem abreviaturas)</li>
            <li>Data de nascimento</li>
            <li>Assinatura (como no título de eleitor)</li>
        </ul>

        <h2>As fichas devem ser enviadas para:</h2>

        <address>
            <br />
            Juliano Torres<br />
            Av. Bias Fortes, n984/102, Lourdes<br />
            Belo Horizonte - MG - CEP 30170011<br />
            <br />
        </address>

    </div>



@section RightContent {

	 @Html.Partial("_RightMenu") 

}
