@model IEnumerable<LiberMvc.Models.Blog>


	<div class="panel">
		<h1>Blog</h1>
    @Html.DisplayForModel("ListaBlog")
	</div>

@section RightContent {

	 @Html.Partial("_RightMenu") 

}

