html, body {
    margin: 0px;
    padding: 0px;

    font: 14px Arial, Helvetica;

    background-color: /*#e5e5e5*/ #eee;
}

img {
    border-width: 0px;
}

a {
    text-decoration: none;
    color: #004d76;
}

a:hover {
    text-decoration: underline;
}



/* ========================================================================== */

br.clear {
    display: block;
    height: 0px;
    clear: both;
}

/* ========================================================================== */

a.button, input.button {
    margin: 0px 5px 0px 0px;
    padding: 5px 8px !important;
    display: block;

    cursor: pointer;
    color: #000;
    text-shadow: 1px 1px 1px #fff;
    text-align: center;
    background-image: url("../images/button_back.png");
    background-repeat: repeat-x;
    background-color: /*#ffd100*/ #ccc;
    border: 1px solid /*#c4a100*/ #666;
}

a.button:hover, input.button:hover {
    text-decoration: none;

    background-image: url("../images/button_back_hover.png");
    background-repeat: repeat-x;
}

/* ========================================================================== */

table.show_table {
    width: 100%;
    
    font-size: 13px;
    border-collapse: collapse;
    border-bottom: 1px solid #aaa;
    background-color: #fff;
}

table.show_table thead tr {
    text-align: left;
    text-shadow: 1px 1px 0px #fff;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #fff;
    background-color: #eee;
}

table.show_table tbody tr:nth-child(odd) {
    background-color: #f0ffff;
}

table.show_table tbody tr.unpublished {
    background-color: #ffdab9;
}

table.show_table thead tr th {
    padding: 5px;
   
    border-right: 1px solid #fff;
}

table.show_table thead tr th.actions {
    width: 40px;
    
    border: none;
    border-right: 1px solid #ccc;
    border-right: 1px solid #fff;
    background: none;
    background-color: #eee;
}

table.show_table tbody tr td {
    padding: 5px;
    
    color: #444;
}

/* ========================================================================== */

.panel {
    margin: 0px 0px 5px 0px;
    padding: 5px;

    border: 1px solid #ccc;
    background-image: url("../images/panel_back.png");
    background-repeat: repeat-x;
    background-color: #fff;
}

.panel h1, .panel h1 a {
    margin: 0px 0px 5px 0px;
    padding: 0px 0px 3px 0px;

    color: #444;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0px 1px 0px #fff;
    background-image: url("../images/panel_title_back.png");
    background-repeat: repeat-x;
    background-position: bottom;
}

.panel .actions {
    margin: 10px 0px 0px 0px !important;
    padding: 5px !important;
    
    border: 1px solid #ccc;
    background-image: url("../images/actions_back.png");
    background-color: #ddd;
}

.panel .actions .button {
    float: left;
}

/* ========================================================================== */

.article h1 {
    margin: 0px;
    padding: 0px;

    color: #000;
    font-family: Georgia;
    font-size: 30px;
    font-weight: normal;
    text-transform: none;
    background: none;
}

.article .general_informations {
    padding: 0px 0px 10px 0px;
    margin: 0px 0px 10px 0px;
    
    color: #5f5f5f;
    border-bottom: 2px dotted #5f5f5f;
}

.article .general_informations .date {
    padding-right: 5px;
    
    font-family: Georgia;
    border-right: 1px solid #000;
}

.article .article_body {
    margin-left: 15px;
    
    font-size: 13px;
}

.article .article_body p img {
    margin: 5px;
    padding: 5px;
    border: 1px solid #5f5f5f;
}

/* ========================================================================== */

.article_resume {
    border-bottom: 1px dotted #000;
}

.article_resume h2 {
    margin: 0px;
    padding: 0px;
}

.article_resume h2 a {
    text-decoration: none;
    font-size: 15px;
    color: #004d76;
}

.article_resume h2 a:hover {
    text-decoration: underline;
}

.article_resume .general_informations {
    padding: 0px;
    margin: 0px 0px 10px 0px;

    color: #5f5f5f;
}

.article_resume .general_informations .date {
    padding-right: 5px;
    
    font-family: Georgia;
    border-right: 1px solid #000;
}

.article_resume .abstract {
    font-size: 13px;
}

/* ========================================================================== */

#header_wrapper {
    margin: 0px;
    padding: 0px;

    background-image: url("../images/header_back.png");
    background-repeat: repeat-x;
    background-color: /*#e5e5e5*/ #eee;
}

#header {
    margin: 0px auto;
    width: 1000px;

    background-image: url("../images/header_back_intern.png");
    background-repeat: repeat-x;
    background-color: #fff;
}

#header #name {
    margin: 0px;
    padding: 0px;
    float: left;
    width: 300px;
    height: 100px;

    font: 55px Georgia;

    background-image: url("../images/libertarios.png");
    background-repeat: no-repeat;
    background-position: left bottom;
}

#header h1 {
    display: none;
}

#header #logo {
    float: left;
    width: 150px;
    height: 158px;

    background-image: url("../images/liber_logo.png");
    background-repeat: no-repeat;
}

#header #newsletter {
    margin: 0px;
    padding: 5px;
    float: right;

    background-color: #fff;
}

#header form#newsletter {
    margin: 0px;
    padding: 5px;
    float: right;

    background-color: #fff;

    border: 1px solid #ffd146;
    border-top: none;
}

#header form#newsletter fieldset {
    border: none;
}

#header form#newsletter fieldset legend {
    text-shadow: 1px 1px 2px #ccc;
}

/* ========================================================================== */

#content {
    margin: 0px auto;
    padding: 0px;
    width: 1000px;

    background-color: #fff;
}

/* ========================================================================== */

#main_content {
    margin: 0px;
    padding: 5px 0px 0px 5px;

    float: left;
    width: 695px;
}

#main_content #artigos {
    float: left;
    /*width: 430px;*/
}

#main_content #blog 
{
	display: none;
/*    float: right;
    width: 235px;*/
}


#main_content #index {
    float: left;
    width: 160px;
}

#main_content #post {
    float: right;
    width: 683px;
}

/* ========================================================================== */

#artigos #artigo_destaque h2 a {
    font-size: 20px;
}

#artigos #artigo_destaque .abstract {
    font-size: 14px;
}

/* ========================================================================== */

#blog .posts {
    margin: 0px;
    padding: 0px;

    list-style: none;
}

#blog .posts li {
    padding: 5px 0px;

    border-bottom: 1px dotted #000;
}

/* ========================================================================== */

#side_bar {
    margin: 0px;
    padding: 5px;

    float: right;
    width: 290px;
}

/* ========================================================================== */

#tenha_atitude ul {
    margin: 0px;
    padding: 0px;

    list-style: none;
    list-style-position: inside;
}

#tenha_atitude ul li {
    margin-bottom: 3px;

    font-size: 16px;
}

#tenha_atitude ul li.join {
    list-style-image: url("../images/join.png");
}

#tenha_atitude ul li.donate {
    list-style-image: url("../images/donate_ico.png");
}

#tenha_atitude ul li.promotion {
    list-style-image: url("../images/megaphone_ico.png");
}

#tenha_atitude ul li.know {
    list-style-image: url("../images/book_ico.png");
}

#tenha_atitude ul li.invite {
    list-style-image: url("../images/invite_ico.png");
}

#tenha_atitude ul li.forum {
    list-style-image: url("../images/forum_ico.png");
}

/* ========================================================================== */

#agenda ul {
    margin: 0px;
    padding: 0px;

    list-style: none;
}

#agenda ul li {
    margin: 3px 0px;
    padding: 0px;
}

#agenda ul li a {
    padding: 2px;
    display: block;
    float: left;
    width: 231px;
    height: 36px;

    background-color: #f0f0f0;
}

#agenda ul li .date {
    display: block;
    float: right;
    width: 40px;
    min-height: 40px;
    
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px 0px #000;
    font-family: Georgia;
    font-weight: bold;
    background-image: url("../images/date_back.png");
    background-repeat: no-repeat;
    background-color: #7c7a7b;
}

/* ========================================================================== */

#loginbox p {
    margin: 0px;
    padding: 0px;
}

#loginbox #user_informations {
    padding-bottom: 5px;
    margin-bottom: 5px;
    
    border-bottom: 1px dotted #ccc;
}

#loginbox ul {
    margin: 0px;
    padding: 0px;
    
    list-style: none;
}

#loginbox ul li {
    padding: 5px;
    margin-bottom: 1px;
    
    border: 1px solid #ccc;
    border-bottom-color: #aaa;
    background-color: #eee;
    background-image: url("../images/user_box_list_title_back.png");
    background-repeat: repeat-x;
}

#loginbox ul li strong {
    padding-left: 20px;
   
    background-repeat: no-repeat;
    background-position: left center;
}

#loginbox ul li strong.article {
    background-image: url("../images/article.png");
}

#loginbox ul ul {
    margin-top: 10px;
}

#loginbox ul ul li {
    padding: 2px;
    display: inline;
    
    font-size: 12px;
    text-shadow: 1px 1px 0px #fff;
    border: none;
    border-right: 1px solid #ccc;
    background: none;
}

#loginbox #loginerror h3, #loginbox #loginerror h4 {
    margin: 0px;
    padding: 5px 15px;
    border: 1px solid #d8000c;
}

#loginbox #loginerror h3 {
    color: #d8000c;
    border-bottom: none;
    background-color: #ffbaba;
}

#loginbox #loginerror h4 {
    color: #d8000c;
    font-size: 13px;
    font-weight: normal;
    border-top: none;
    background-color: #ffbaba;
}

/* ========================================================================== */

#index {
    margin: 5px 10px 10px 0px;
    padding: 0px 10px 10px 10px;
  
    background-color: #fbf9e6;
    border-bottom: 1px solid #ccc;
}

#index h1 {
    margin-top: 10px;
    color: #000;
    font-size: 13px;
    text-transform: none;

    border-bottom: 1px dotted #000;
}

#index ul {
    margin: 0px;
    padding: 0px;

    font-size: 12px;
    list-style: none;
}

#index ol {
    margin: 0px;
    padding: 0px;

    font-size: 12px;
    list-style-position: inside;
}

#index ul li, #index ol li {
    padding: 5px 0px;
    
    border-bottom: 1px dotted #000;
}

#index ul li a {
    display: block;
}

/* ========================================================================== */

#post p {
    margin-left: 10px;

    font-size: 13px;
    color: #333333;
}

#post pre {
    margin-left: 10px;
    padding: 5px;
    
    white-space: normal;
    color: #333;
    background-color: #ddd;
    border: 1px solid #bbb;
}

#post address {
    margin-left: 10px;
    padding: 5px;
    
    color: #000;
    background-color: #fbf9e6;
    border: 1px solid #e5d324;
    background-image: url("../images/mail.png");
    background-repeat: no-repeat;
    background-position: right center;
}

#post p.top {
    padding-right: 20px;
    
    text-align: right;
    font-size: 13px;
    background-image: url("../images/top_ico.png");
    background-repeat: no-repeat;
    background-position: right center;
}

#post ul {
    margin: 5px 0px;
    padding: 0px;

    list-style-position: inside;
}

#post ul li.pdf_file {
    list-style-image: url("../images/pdf_file.png");
}

#post h2, #post h2 a {
    text-decoration: none;
    font-size: 18px;
    color: #5f5f5f;
}

#post fieldset {
    margin-top: 10px;
    
    border: none;
    border-bottom: 1px dotted #000;
}

#post fieldset legend {
    margin: 0px;
    padding: 0px;
    
    font-size: 16px;
    font-weight: bold;
}

#post fieldset .editor-item {
    clear: both;
    
    font-size: 13px;
}

#post fieldset .editor-item .editor-label {
    margin-bottom: 1px;
    padding: 3px;
    float: left;
    display: block;
    width: 200px;
    
    font-weight: bold;
    text-align: right;
    background-color: #ddd;
}

#post fieldset .editor-item .editor-field {
    margin-bottom: 1px;
    padding: 3px;
    float: left;
    display: block;
}

/* ========================================================================== */

#footer_wrapper {
    margin: 0px;
    padding: 0px;

    color: #dadada;

    background-image: url("../images/footer_back.png");
    background-repeat: repeat-x;
    background-color: #333333;
}

#footer_wrapper #footer {
    margin: 0px auto;
    padding: 20px 5px;
    width: 995px;

    background-image: url("../images/footer_back.png");
    background-repeat: repeat-x;
    background-color: #505050;
}

#footer #footer_general_informations {
    margin: 0px;
    padding: 0px;
    float: left;
    width: 400px;

    background-image: url("../images/liber_footer.png");
    background-repeat: no-repeat;
    background-position: center top;
}

#footer #footer_general_informations p {
    margin: 145px 0px 0px 0px;
    padding: 0px;

    text-align: justify;
    font-size: 13px;
}

#footer #important_links {
    margin: 0px;
    padding: 0px;
    float: right;
    width: 580px;
}

#footer #important_links div {
    margin: 0px 20px 0px 0px;
    padding: 0px;
    float: left;
    min-width: 120px;
}

#footer #important_links div h1 {
    margin: 0px;
    padding: 0px;

    text-transform: uppercase;
    font-size: 15px;
}

#footer #important_links div ul {
    margin: 0px;
    padding: 0px;

    list-style: none;
}

#footer #important_links div ul li a {
    padding: 1px 0px;
    display: block;

    font-size: 13px;
    color: #fff;
}

#footer #general_links {
    margin-top: 45px;
    float: left;
    clear: both;

    font-size: 13px;
}

#footer #general_links a {
    color: #fff;
}

#footer #copy {
    float: right;

    text-align: center;
    font-size: 12px;
}

#footer #copy a {
    color: #fff;
}

